@model FMDSS.Models.MIS.CitizenWildLifeCancellationViewModel
@{
    var item = Model.TicketBookingCancellationList.FirstOrDefault();
} 

@using (Html.BeginForm())
{
    
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title"> 
                Citizen Cancellation Report
            </h4>
        </div>

        <div class="modal-body"> 

            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x=>item.RequestID): 
                    @item.RequestID 
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.EmitraTransactionID):  
                    @item.EmitraTransactionID
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.EmitraStatus): 
                    @item.EmitraStatusName
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.AccountNo): 
                    @item.AccountNo
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.BankName):  
                    @item.BankName
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.BranchName):  
                    @item.BranchName

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.IFSCCode):  
                    @item.IFSCCode

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.AccountType):  
                    @item.AccountType

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.AccountHolderName): 
                    @item.AccountHolderName

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.EnteredOn):  
                    @item.EnteredOn

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.EnteredBy):  
                    @item.UserName

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.TicketAmount):  
                    @item.TicketAmount

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.ServiceCharge):  
                    @item.ServiceCharge

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => item.RefundAmount): 
                    @item.RefundAmount

                </div>
            </div>

            <div class="col-lg-12"></div>


            <!-- /.Btn Groping -->


        </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12"> 
                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>

}