@model Tuple<FMDSS.Models.CitizenService.ProductionServices.EducationService.Research, FMDSS.Models.CitizenService.PermissionService.FilmShooting, FMDSS.Models.CitizenService.PermissionService.OrganisingCamps>

@{
    ViewBag.Title = "PermissionPreview";
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString()); // "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery.min.js"></script>
<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
    $(document).ready(function () {

        $("#rtable").hide();
        $("#ftable").hide();
        $("#etable").hide();
        $("#otable").hide();

        $('#btnPastactivityView').click(function (e) {
         
            $("#rtable").show();

            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(""),
                url: RootUrl + "ApplicantCordinator/getResearchPastactivity",
                success: function (data) {
                    alert(data.length);
                    for(var i=0; i<data.length; i++){
                        var bardata = "<tr><td>" + data[i].Activity_TakenBy + "</td><td>" + data[i].ResearchId + "</td><td>" + data[i].Subjectforresearch + "</td><td>" + data[i].Durationfrom + "</td><td>" + data[i].Durationto + "</td>" + "</td><td>" + data[i].ResearchLocation + "</td>" + "</td><td>" + data[i].ResearchBenefits + "</td>" + "</td><td>" + data[i].ResearchPurpose + "</td>" + "</td></tr>";
              $("#applyTable").append(bardata);
    }


    },
    traditional: true,
    error: function (data) { console.log(data) }
    });

   });

        $('#btnFilmView').click(function (e) {
         
            $("#ftable").show();

       $.ajax({
           type: 'POST',
           contentType: 'application/json; charset=utf-8',
           data: JSON.stringify(""),
           url: RootUrl + "FilmShooting/GetShootingcrewmwmber",
           success: function (data) {
              
               for (var i = 0; i < data.length; i++) {
                   var bardata = "<tr><td>" + data[i].Name + "</td><td>" + data[i].Address1 + "</td><td>" + data[i].Address2 + "</td>" + "</td><td>" + data[i].Landmark + "</td>" + "</td><td>" + data[i].PostalCode + "</td></tr>";
                   $("#applyTablefilm").append(bardata);
               }


           },
           traditional: true,
           error: function (data) { console.log(data) }
       });

        });

        $('#btnequipView').click(function (e) {

            $("#etable").show();

            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(""),
                url: RootUrl + "FilmShooting/GetEquipmentMaterial",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var bardata = "<tr><td>" + data[i].VehicleCategory + "</td><td>" + data[i].Vehicle + "</td><td>" + data[i].VehicleFees + "</td></tr>";
                        $("#applyTableequip").append(bardata);
                    }


                },
                traditional: true,
                error: function (data) { console.log(data) }
            });

        });

        $('#btnCampView').click(function (e) {

            $("#otable").show();

            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(""),
                url: RootUrl + "FilmShooting/GetCrewMember",
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var bardata = "<tr><td>" + data[i].Name + "</td><td>" + data[i].Address1 + "</td><td>" + data[i].Address2 + "</td>" + "</td><td>" + data[i].Landmark + "</td>" + "</td><td>" + data[i].PostalCode + "</td></tr>";
                        $("#applyTablecamp").append(bardata);
                    }


                },
                traditional: true,
                error: function (data) { console.log(data) }
            });

        });

 });
</script>


<div id="page-wrapper-inn">
    <div class="col-lg-12 pad">
        <h1 class="page-header">@Session["Permission"].ToString() Preview</h1>
    </div>
    <!-- /.col-lg-12 -->
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--<div class="panel-heading"></div>
                <!-- /.panel-heading -->

                <div class="panel-body">
                    @if (Session["Permission"].ToString() == "Research")
                    {
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Request Id:</label></div>
                                <div class="col-lg-6">@Model.Item1.RequestedId</div>
                            </div>
                        </div>



                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Application Type:</label></div>
                                <div class="col-lg-4">@Model.Item1.ApplicantType</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Father Name:</label></div>
                                <div class="col-lg-6">@Model.Item1.FName</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Education Qualification:</label></div>
                                <div class="col-lg-6">@Model.Item1.Qualification</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>College / Institute Name:</label></div>
                                <div class="col-lg-6">@Model.Item1.College</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Title of Research:</label></div>
                                <div class="col-lg-6">@Model.Item1.R_Subject</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Procedure / Method / Workflow / Outline of Research:</label></div>
                                <div class="col-lg-6">@Model.Item1.R_Procedure</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Duration of Research:</label></div>
                                <div class="col-lg-6">@Model.Item1.DurationFrom to @Model.Item1.DurationTo</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Location of Research: District:</label></div>
                                <div class="col-lg-6">@Model.Item1.DistrictName</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Location:</label></div>
                                <div class="col-lg-6">@Model.Item1.LocationName</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Category of Animal:</label></div>
                                <div class="col-lg-6">@Model.Item1.Animalcat</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Name of Animal:</label></div>
                                <div class="col-lg-6">@Model.Item1.AnimalName</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Serial No of Wild Animal(Acc. to Security Act-1972):</label></div>
                                <div class="col-lg-6">@Model.Item1.Animal_Sno</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Category of Species:</label></div>
                                <div class="col-lg-6">@Model.Item1.Speciescat</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Name of Species:</label></div>
                                <div class="col-lg-6">@Model.Item1.SpeciesName</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Serial No of Species(Acc. to Security Act-1972):</label></div>
                                <div class="col-lg-6">@Model.Item1.Species_Sno</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Benefits of Research to Forest & wild Life Management:</label></div>
                                <div class="col-lg-6">@Model.Item1.R_Benefits</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Co-Ordinator/Supervisor Name:</label></div>
                                <div class="col-lg-6">@Model.Item1.C_Name</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Address:</label></div>
                                <div class="col-lg-6">@Model.Item1.Address1</div>
                            </div>
                        </div>



                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Research Activities undertaken in past:</label></div>
                                <div class="col-lg-6"><button type="button" id="btnPastactivityView" class="btn btn-success" style="width:auto">View</button></div>
                            </div>
                        </div>

                        <div class="col-lg-12" id="rtable">
                            <div id="tbl-new" class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Activity Taken By</th>
                                            <th>Research Id</th>
                                            <th>Subject</th>
                                            <th>Duration From</th>
                                            <th>Duration To</th>
                                            <th>Location</th>
                                            <th>Purpose</th>
                                            <th>Benefit To Forest</th>
                                        </tr>
                                    </thead>
                                    <tbody id="applyTable"></tbody>
                                </table>
                            </div>


                            <!-- Btn Groping -->
                            <!-- /.Btn Groping -->
                        </div>
                        <div class="col-lg-12"></div>
                        
 <div class="btn-padd">
    <div  class="col-lg-12">
        <a  href="@Url.Action("AddApplicantCordinator", "ApplicantCordinator") "><i class="btn btn-danger"></i>Cancel</a>

      
    </div>
</div>

                    }

                    @if (Session["Permission"].ToString() == "Film Shooting")
                    {
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Request Id:</label></div>
                                <div class="col-lg-6">@Model.Item2.TransactionID</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Applicant Type:</label></div>
                                <div class="col-lg-6">@Model.Item2.ApplicantName</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Film Title:</label></div>
                                <div class="col-lg-6">@Model.Item2.Title</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Short Description of Film Script:</label></div>
                                <div class="col-lg-6">@Model.Item2.Description</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Number of Guest/Visitor:</label></div>
                                <div class="col-lg-6">@Model.Item2.NoOfCrewMember</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Name & Address of Guest/Visitor:</label></div>
                                <div class="col-lg-6"><button type="button" id="btnFilmView" class="btn btn-success" style="width:auto">View</button></div>
                            </div>
                        </div>

                         <div class="col-lg-12" id="ftable">
                            <div id="tbl-new" class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address1</th>
                                            <th>Address2</th>
                                            <th>LandMark</th>
                                            <th>Pincode</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody id="applyTablefilm"></tbody>
                                </table>
                            </div>


                           
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Shooting Duration:</label></div>
                                <div class="col-lg-6">@Model.Item2.DurationFrom <b>To</b> @Model.Item2.DurationTo</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Purpose of shooting:</label></div>
                                <div class="col-lg-6">@Model.Item2.ShootingPurpose</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Select ID Type:</label></div>
                                <div class="col-lg-6">@Model.Item2.IdentityProof</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>ID proof No:</label></div>
                                <div class="col-lg-6">@Model.Item2.IdentityProofNo </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>ID proof of applicant:</label></div>
                                <div class="col-lg-6"><a href="">view Document</a></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>District:</label></div>
                                <div class="col-lg-6">@Model.Item2.DistrictName </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Place:</label></div>
                                <div class="col-lg-6">@Model.Item2.PlaceName</div>
                            </div>
                        </div>
                        <div class="form-group  un-bold">
                            <label class="control-label col-sm-2" for="email">
                                @*Select Citizen Type:*@
                            </label>
                            <div class="col-sm-3">
                                <label class="control-label" for="email">
                                    <b>Indian Citizen</b>
                                </label>
                            </div>

                            <div class="col-sm-3">
                                <label class="control-label " for="email">
                                   <b> Non-Indian Citizen</b>
                                </label>
                            </div>

                            <div class="col-sm-3">
                                <label class="control-label " for="email">
                                   <b> Indian Students</b>
                                </label>
                            </div>
                            <div class="col-sm-1">
                                &nbsp;
                            </div>
                        </div>
                        <div class="form-group un-bold">
                            <label class="control-label col-sm-2" for="email" style="padding: 0 31px;">
                                <b> No of Members:</b>
                            </label>
                            <div class="col-sm-3">
                                @Model.Item2.IndianCitizen
                            </div>
                            <div class="col-sm-3">
                                @Model.Item2.NonIndianCitizen
                            </div>
                            <div class="col-sm-3">
                                @Model.Item2.Student
                            </div>

                            <div class="col-sm-1">
                                &nbsp;
                            </div>
                        </div>

                        
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Equipment & Material:</label></div>
                                <div class="col-lg-6"><button type="button" id="btnequipView" class="btn btn-success" style="width:auto">View</button></div>
                            </div>
                        </div>

                         <div class="col-lg-12" id="etable">
                            <div id="tbl-new" class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Category</th>
                                            <th>Equipment</th>
                                            <th>Fee</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody id="applyTableequip"></tbody>
                                </table>
                            </div>


                           
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Film category:</label></div>
                                <div class="col-lg-6">@Model.Item2.FilmCategory</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Total Deposite:</label></div>
                                <div class="col-lg-6">@Model.Item2.DepositeAmount</div>
                            </div>
                        </div>
                        <div class="col-lg-12"></div>
                        
                         <div class="btn-padd">
    <div  class="col-lg-12">
        <a  href="@Url.Action("FilmShooting", "FilmShooting") "><i class="btn btn-danger"></i>Cancel</a>

      
    </div>
</div>

                    }

                    @if (Session["Permission"].ToString() == "Organizing Camp")
                    {
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Request Id:</label></div>
                                <div class="col-lg-6">@Model.Item3.RequestedId</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Applicant Type:</label></div>
                                <div class="col-lg-6">@Model.Item3.ApplicantCat</div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                           <label>Camp Info</label>
                           <div class="divider"></div>
                       </div>
                   
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>District:</label></div>
                                <div class="col-lg-6">@Model.Item3.DistrictName</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Place:</label></div>
                                <div class="col-lg-6">@Model.Item3.LocationName</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Purpose Of Organising Camp:</label></div>
                                <div class="col-lg-6">@Model.Item3.PurposeOfCamp</div>
                            </div>
                        </div>
                        
                         <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Number of Member For Camp:</label></div>
                                <div class="col-lg-6">@Model.Item3.Noofmembercamp</div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Name & Address of Guest/Visitor:</label></div>
                                <div class="col-lg-6"><button type="button" id="btnCampView" class="btn btn-success" style="width:auto">View</button></div>
                            </div>
                        </div>

                        <div class="col-lg-12" id="otable">
                            <div id="tbl-new" class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address1</th>
                                            <th>Address2</th>
                                            <th>LandMark</th>
                                            <th>Pincode</th>

                                        </tr>
                                    </thead>
                                    <tbody id="applyTablecamp"></tbody>
                                </table>
                            </div>



                        </div>
                        
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>ID Type:</label></div>
                                <div class="col-lg-6">@Model.Item3.IdProofName</div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>ID proof No:</label></div>
                                <div class="col-lg-6">@Model.Item3.IdProofNo</div>
                            </div>
                        </div>
                         <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>ID proof of applicant:</label></div>
                                <div class="col-lg-6"><a href="#" onclick="showImage('@Model.Item3.PathofFileOfIdProof')">View Document</a></div>
                            </div>
                        </div>
                        <div id="imageViewer"></div>


                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Camp Duration:</label></div>
                                <div class="col-lg-6">@Model.Item3.Durationfrom <b>To</b> @Model.Item3.Durationto</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>No. Of Days Camp:</label></div>
                                <div class="col-lg-6">@Model.Item3.Noofdayscamp</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-6"><label>Processing Fee:</label></div>
                                <div class="col-lg-6">@Model.Item3.Processingfees</div>
                            </div>
                        </div>
                                              <div class="col-lg-12"></div>
                                                 <div class="btn-padd">
    <div  class="col-lg-12">
        <a  href="@Url.Action("OrganisingCamp", "FilmShooting") "><i class="btn btn-danger"></i>Cancel</a>

      
    </div>
</div>


                    }



                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->

        </div>
        <!-- /.panel-body -->

    </div>
    <!-- /.panel -->

</div>

<script type="text/javascript">
    

    function showImage(img) {
     

       
       
    }

</script>