@model FMDSS.Models.CommanModels.PaymentResponse

@{
    ViewBag.Title = "KioskPaymentDetails";
    //if (HttpContext.Current.Session["IsKioskUser"].ToString().ToUpperInvariant() == "TRUE")
    //{
    //    Layout = "~/Views/Shared/_kiosklayout.cshtml";
    //}
    //else
    //{
    //    Layout = "~/Views/Shared/_Layout.cshtml";
    //}
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString()); //
}


<style type="text/css">
    table.imagetable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }

        table.imagetable th {
            background: #b5cfd2 url('cell-blue.jpg');
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }

        table.imagetable td {
            background: #ccc;
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #999999;
        }
</style>
<script src="~/js/jquery.min.js"></script>
@*<script type="text/javascript" src="~/js/jquery.min.js"></script>*@
<script type="text/javascript" language="javascript">

    $(document).ready(function () {

        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function (evt) {
            if (evt.persisted) disableBack()
        }

    });

    $(function (e) {
        $(".btnsubmit").click(function () {
            $(".btnsubmit").attr('disabled', 'disabled');
            $(this).parents('form').submit();
        });
    });

</script>



<div id="page-wrapper-inn">

    <div class="col-lg-12 pad">

        <h1 class="page-header">
            <!--<i class="fa fa-rupee"></i>--> Payment
            <!-- <small class="pull-right pdate">Date: 17/12/2015</small> -->
        </h1>

        <span style="color:red;">Please don't press F5 while processing </span>
        <br />
    </div>
    <!-- /.col-lg-12 -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("Pay", "KioskPayment", FormMethod.Post, new { id = "pay" }))
                    {
                        <section class="payment">

                            <!-- Table row -->
                            <div class="row">
                                <div class="col-xs-12 table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            @*<tr>
                                                    <th>Requested ID</th>
                                                    <th>Fee</th>
                                                    <th>Kiosk Charge</th>
                                                    <th>ServiceTax</th>
                                                    <th>CessPercentage</th>
                                                </tr>*@
                                            <tr>
                                                <th>Requested ID</th>
                                                <th>Departmental Fees</th>
                                                <th>KML Charges</th>
                                                <th>DataEntry And Doccument Upload</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tr>
                                                    <td>@Model.RequestedId </td>
                                                    <td>@Model.Fee </td>
                                                    <td>@Model.KioskCharges</td>
                                                    <td>@Model.ServiceTax</td>
                                                    <td>@Model.CessPercentage</td>
                                                </tr>*@
                                            <tr>
                                                <td>@Model.EmitraKioskResponse.REQUESTID .RequestedId </td>
                                                <td>@Model.DepartmantalFees</td>
                                                <td>@Model.KMLCharges</td>
                                                <td>@Model.DataEntryAndDocUploadFees</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <input type="hidden" name="RequestId" value="@Model.RequestedId">
                                    <input type="hidden" name="ServiceId" value="@Model.PermissionId">
                                    <input type="hidden" name="SubServiceId" value="@Model.ModuleId@Model.ServiceTypeId@Model.PermissionId@Model.SubPermissionId">
                                    <input type="hidden" name="KioskCharges" value="@Model.TotalAmount">
                                    <input type="hidden" name="RevenueHead" value="@Model.RevenueHead">
                                    <input type="hidden" name="MerchantCode" value="@Model.MerchantCode">
                                </div><!-- /.col -->
                            </div><!-- /.row -->
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-xs-12">
                                    <label>Total Amount Payable</label>: @Model.TotalAmount
                                    <button id="btnPay" type="submit" name="Command" value="pay" class="btn btn-primary pull-right btnsubmit"><i class="fa fa-check"></i> Pay Now</button>
                                </div>
                            </div>
                        </section>
                    }

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>