@model FMDSS.App_Start.BhamashaRoot


 


<table>

    <tr><td colspan="8" >
            Address Details
        </td></tr>
    <tr>
        <td>Address(E):</td>
        <td colspan="7">@Model.Family.Familydetail.AddressEng</td>
    </tr>
    <tr>
        <td>Address(H):</td>
        <td colspan="7">@Model.Family.Familydetail.AddressHnd</td>
    </tr>
     

    <tr>
        <th>Adhar Number</th>
        <th>Date of Birth</th>        
        <th>Gender</th>
        <th>Mobile</th>
        <th>Name(E)</th>
        <th>Name(H)</th>
        <th>Cast(Category)</th>
        <th>Select</th>
    </tr>

    @foreach (var item in Model.PersonalInfo.Member)
    {
        <tr>
            
            <td>
                @item.Aadhar
            </td>
            <td>
                @item.Dob
            </td>            
            <td>
                @item.Gender
            </td>
            <td>
                @item.Mobile
            </td>
            <td>
                @item.NameEng
            </td>
            <td>
                @item.NameHnd
            </td>
            <td>
                @Model.Family.Familydetail.Caste ( @Model.Family.Familydetail.Category )
               
            </td>
            
            @*<td>
                <input type="radio" class="ui-icon-radio-on" name="Member" value="@item.Mid" onclick="return GetMemberId('@item.AckId','@item.Aadhar','@Model.Family.Familydetail.Caste','@Model.Family.Familydetail.Category','@Model.Family.Familydetail.AddressEng','@Model.Family.Familydetail.DistrictName')" />
            </td>*@
            <td>
                <input type="radio" class="ui-icon-radio-on" name="Member" value="@item.Mid" onclick="return GetMemberId('@item.AckId','@item.Aadhar','@Model.Family.Familydetail.Caste','@Model.Family.Familydetail.Category','@Model.Family.Familydetail.AddressEng','@Model.Family.Familydetail.DistrictName','@Model.Family.Familydetail.Village')" />
            </td>

        </tr>

    }

</table>
