@model IEnumerable<FMDSS.Models.Master.Designations>
<link href="~/css/timepicki.css" rel="stylesheet" />
<script src="~/js/timepicki.js"></script>


<script type="text/javascript" src="~/js/jquery.min.js"></script>

<style>
    #tbl {
        overflow-x: auto;
        overflow-y: auto;
        padding: 15px;
        width: 100%;
        height: 450px;
    }
</style>

<script>
    var RootUrl = '@Url.Content("~/")';


    function postRequest(ID, DesigId, OLID) {
        var r = confirm('Are you sure you wish to link this Object ?');
        if (r == false) {
            return false;
        }

        var Status = $('#CB_' + OLID).is(":checked");
     

        $.ajax({
            type: 'POST',
            url: RootUrl + 'UserManagementMaster/Mapping', // we are calling json method
            dataType: 'json',
            data: { IDs: ID, DesigIds: DesigId, FMDSSPermissionsTypesIDs: OLID, STATUS: Status },
            success: function (circle) {
            },
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }

        });
    }



</script>

  <div class="modal-content" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
        <h4 class="modal-title">
            Mapping Designation With Permission Services
        </h4>
    </div>

      <div class="modal-body" id="tbl">


          <div class="panel panel-default">
              <div class="panel-body">
                  <div class="dataTable_wrapper">
                      <div class="table-responsive">
                          <table class="table table-striped table-bordered table-hover table-responsive gridtable" id="tblLstTermAndCondition">
                              <thead>
                                  <tr>
                                      <th width="5%"  >#</th>
                                      <th width="10%">Designation</th>

                                      <th width="10%">Module</th>
                                      <th width="10%">Service Type</th>
                                      <th width="10%">Permission </th>
                                      <th width="25%">Sub Permission </th>

                                      <th width="30%" >Status</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  @foreach (var item in Model)
                                  {
                                      <tr>

                                          <td width="5%" >@Html.DisplayFor(model => item.Index) @Html.Hidden("HDNID", item.ID) </td>
                                          <td width="10%">@Html.DisplayFor(model => item.Desig_Name, new { id = "Desig_Name" })</td>

                                          <td width="10%">@Html.DisplayFor(model => item.ModuleDesc, new { id = "ModuleDesc" })</td>
                                          <td width="10%">@Html.DisplayFor(model => item.ServiceTypeDesc, new { id = "ServiceTypeDesc" })</td>
                                          <td width="10%">@Html.DisplayFor(model => item.PermissionDesc, new { id = "PermissionDesc" })</td>
                                          <td width="25%">@Html.DisplayFor(model => item.SubPermissionDesc, new { id = "SubPermissionDesc" })</td>
                                          <td width="30%">
                                              <input onclick='return postRequest(@item.ID,@item.DesigId,@item.FMDSSPermissionsTypesID)' type="checkbox" id="CB_@item.FMDSSPermissionsTypesID" value="true" @(item.IsactiveView ? "checked=\"checked\"" : "") />
                                          </td>
                                      </tr>
                                  }
                              </tbody>
                          </table>
                      </div>
                  </div>

              </div>
          </div>

      </div>
    <div class="modal-footer" style="clear:both">
        <div id="btn" class="col-lg-12">

           
            <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                <i class="fa fa-times fa-fw"></i> Close
            </button>

        </div>

    </div>
</div>