

<script type="text/javascript" src="~/js/jquery.min.js"></script>
@model FMDSS.Models.Master.TermAndCondition

<script>
    var RootUrl = '@Url.Content("~/")';




    $(document).ready(function () {

        $('#btn_submit1').click(function (e) {

           


            

            if ($('option:selected', $('#CategoryID')).index() == 0) {
                $("#errCategoryID").css("display", "block");
                $('#errCategoryID').focus();
                return false;
            }
            else {
                $("#errCategoryID").css("display", "none");
            }
            if ($('#TickerMessage').val().trim() == "") {
                $('#errTickerMessage').css("display", "block");
                $('#errTickerMessage').focus();
                return false;
            }
            else {
                $('#errTickerMessage').css("display", "none");
            }

            if ($('option:selected', $('#Isactive')).index() == 0) {
                $("#errIsactive").css("display", "block");
                $('#errIsactive').focus();
                return false;
            }
            else {
                $("#errIsactive").css("display", "none");
            }


        });

    });

</script>

@using (Html.BeginForm("AddUpdateTermsCondition", "TermAndConditionMaster", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                @*<label id="lbl_dpt">Add/Edit Place</label>*@
                @ViewBag.OpType
            </h4>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(model => model.ID)
          
            

              

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Terms and Condition: <span class="mandatory">*</span></label>
                    @Html.TextAreaFor(model => model.TermAndCondition_Text, new { @class = "form-control common" })
                    <div id="errTickerMessage" style="display:none" class="alert-danger1">Terms And Condition Text is Required.</div>
                </div>
            </div>

                       

                

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Active / Deactive : <span class="mandatory">*</span></label>
                        @Html.DropDownListFor(Model => Model.IsActive, (IEnumerable<SelectListItem>)ViewBag.ISactivelst, "--Select--", new { @class = "form-control common", id = "IsActive" })
                        <div id="errIsactive" style="display:none" class="alert-danger1">Active / Deactive  is Required.</div>

                    </div>
                </div>

                <div class="col-lg-12"></div>


                <!-- /.Btn Groping -->


            </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success"  value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>
                
                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>

}