
<div class="col-lg-2 hide" id="showhideMaster">

    <div class="row">
        <div class="table-responsive request-id">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <td><a class="btn btn-default" href="@Url.Action("InsertBudgetHead", "BudgetHead")">Budget Head</a></td>
                    <td><a class="btn btn-default" href="@Url.Action("SubBudgetHead", "SubBudgetHead")">Budget Sub Head</a></td>
                    <td><a class="btn btn-default" href="@Url.Action("AddScheme", "FdmScheme") ">Add Scheme</a></td>
                    <td><a class="btn btn-default" href="@Url.Action("AddActivity", "fdmActivity")">Defining Activity</a></td>
                    <td><a class="btn btn-default" href="@Url.Action("AddSubActivity", "fdmSubActivity")">Defining Sub Activity</a></td>
                    @*<td><a class="btn btn-default" href="@Url.Action("BudgetAllocationToBudgetHead", "BudgetAllocationtoSubBudgetHead")">Budget Allocation Master</a></td>*@
                    @*<td><a class="btn btn-default" href="@Url.Action("AddBudgetPerposal", "BudgetAllocationPerposal")">Budget Proposal</a></td>*@
                    <td><a class="btn btn-default" href="@Url.Action("AddBudgetInformation", "BudgetAllocationCircle")">Sanctioned Budget</a></td>
                    @*<td><a class="btn btn-default" href="@Url.Action("BudgetMultipleReport", "BudgetMultipleReport")">Budget Report</a></td>*@
                    @*<td><a class="btn btn-default" href="@Url.Action("BudgetAllocationVillage", "BudgetAllocationVillage")">Budget Range/Village</a></td>*@
                    <td><a class="btn btn-default" href="@Url.Action("BudgetExpenditureAllocation", "BudgetExpenditure")">Budget Expenditure</a></td>
                   
                </tr>
            </table>
        </div>


    </div>
    <div class="row">
        <div class="table-responsive request-id">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    @*<td><a class="btn btn-default" href="@Url.Action("BudgetExpenditureAllocation", "BudgetExpenditure")">Budget Expenditure</a></td>*@
                    @*<td><a class="btn btn-default" href="@Url.Action("BudgetExpenditureAllocation", "BudgetExpenditure")">Budget Expenditure</a></td>*@
                    @*<td><a class="btn btn-default" href="@Url.Action("BudgetReport", "BudgetMnthProgReport")">Monthly Progress Report</a></td>*@
                    <td><a class="btn btn-default" href="@Url.Action("BudgetAnalystReport", "BudgetMnthProgReport")">Monitoring Report</a></td>
                    <td><a class="btn btn-default" href="@Url.Action("BudgetReportChart", "BudgetMnthProgReport")">Report With Chart</a></td>

                </tr>
            </table>
        </div>


    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#AddMaster").click(function () {
            if ($("#showhideMaster").attr('class') == 'col-lg-2 hide') {
                $("#showhideMaster").removeClass('hide');
                $("#AddMaster").text("Hide Master");
            }
            else {
                $("#showhideMaster").addClass('hide');
                $("#AddMaster").text("Show Master");
            }
        });
    });
</script>