@model FMDSS.Models.Master.ZooSeatInventory

<link href="~/css/timepicki.css" rel="stylesheet" />
<script src="~/js/timepicki.js"></script>
<script>
    var $j = jQuery.noConflict();
    $j('.timepicker').timepicki();

</script>

<script type="text/javascript" src="~/js/jquery.min.js"></script>



<script>
    var RootUrl = '@Url.Content("~/")';

    $(document).ready(function () {

        $('#OnlineZooSeats,#OffLineZooSeats').bind('keypress', function (evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            // var charCode = evt.which;
            if (charCode != 8) {

                if ((charCode == 46) || (charCode >= 97 && charCode <= 122) || (charCode >= 65 && charCode <= 90)) {
                    return false;
                }
                else {
                    if (charCode >= 48 && charCode <= 57 || charCode == 46) {
                        return true;
                    }
                    else {
                        evt.preventDefault();
                    }
                }
            }
        });
        
       
             

       


        $('#btn_submit1').click(function (e) {

            if ($('option:selected', $('#PlaceID')).index() == 0) {
                $("#errPlaceID").css("display", "block");
                $('#errPlaceID').focus();
                return false;
            }
            else {
                $("#errPlaceID").css("display", "none");
            }

            if ($('#OnlineZooSeats').val().trim() == "") {
                $('#errOnlineZooSeats').css("display", "block");
                $('#errOnlineZooSeats').focus();
                return false;
            }
            else {
                $('#errOnlineZooSeats').css("display", "none");
            }
                       
            
           
            if ($('#OffLineZooSeats').val().trim() == "") {
                $('#errOffLineZooSeats').css("display", "block");
                $('#errOffLineZooSeats').focus();
                return false;
            }
            else {
                $('#errOffLineZooSeats').css("display", "none");
            }
            
            

                                   
            if ($('option:selected', $('#Isactive')).index() == 0) {
                 $("#errIsactive").css("display", "block");
                 $('#errIsactive').focus();
                return false;
            }
            else {
                 $("#errIsactive").css("display", "none");
            }

        });

        
        $('#PlaceID').change(function (e) {

        

        });
        return false;
    });


   

</script>


@using (Html.BeginForm("ADDUpdateZooSeatInventory", "Master", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                @*<label id="lbl_dpt">Add/Edit Place</label>*@
                @ViewBag.OpType
            </h4>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(model => model.ZooSeatInventoryId)
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Place : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(Model => Model.PlaceID, (IEnumerable<SelectListItem>)ViewBag.ddlLSTPlaceName, "--Select--", new { @class = "form-control common", id = "PlaceID" })
                    <div id="errPlaceID" style="display:none" class="alert-danger1">Place is Required.</div>
                </div>
            </div> 
            

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Online Zoo Seats : <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.OnlineZooSeats, new { @class = "form-control common", @maxlength = "50" })
                    <div id="errOnlineZooSeats" style="display:none" class="alert-danger1">Online Zoo Seats is Required.</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Offline Zoo Seats: <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.OffLineZooSeats, new { @class = "form-control common", @maxlength = "8" })
                    <div id="errOffLineZooSeats" style="display:none" class="alert-danger1">OffLine Zoo Seats is Required.</div>
                </div>
            </div>

            
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Active / Deactive : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(Model => Model.isActive, (IEnumerable<SelectListItem>)ViewBag.ISactivelst, "--Select--", new { @class = "form-control common", id = "isActive" })
                    <div id="errIsactive" style="display:none" class="alert-danger1">Active / Deactive  is Required.</div>

                </div>
            </div> 

            <div class="col-lg-12"></div>


            <!-- /.Btn Groping -->


        </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success"  value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>
                
                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>

}