
@model FMDSS.Models.Master.Users
<link href="~/css/timepicki.css" rel="stylesheet" />
<script src="~/js/timepicki.js"></script>
<script>
    var $j = jQuery.noConflict();
    $j('.timepicker').timepicki({ timeFormat: 'h:mm p' });

</script>


<script type="text/javascript" src="~/js/jquery.min.js"></script>


<script>
    var RootUrl = '@Url.Content("~/")';

   //$('#TicketAllocatedPerShift,#MaxBookingDuration').bind('keypress', function (evt) {
   //     var charCode = (evt.which) ? evt.which : evt.keyCode
   //     // var charCode = evt.which;
   //     if (charCode != 8) {
   //         if ((charCode == 46) || (charCode >= 97 && charCode <= 122) || (charCode >= 65 && charCode <= 90)) {
   //             return false;
   //         }
   //         else {
   //             if (charCode >= 48 && charCode <= 57 || charCode == 46) {
   //                 return true;
   //             }
   //             else {
   //                 evt.preventDefault();
   //             }
   //         }
   //     }
   // });


    //$(document).ready(function () {
    //    $('#Tax,#EmitraCharges').keypress(function (event) {
    //        return isNumber(event, this)
    //    });
    //});
    //// THE SCRIPT THAT CHECKS IF THE KEY PRESSED IS A NUMERIC OR DECIMAL VALUE.
    //function isNumber(evt, element) {

    //    var charCode = (evt.which) ? evt.which : event.keyCode

    //    if (
    //        (charCode != 45 || $(element).val().indexOf('-') != -1) &&      // “-” CHECK MINUS, AND ONLY ONE.
    //        (charCode != 46 || $(element).val().indexOf('.') != -1) &&      // “.” CHECK DOT, AND ONLY ONE.
    //        (charCode < 48 || charCode > 57))
    //        return false;

    //    return true;
    //}

    

    $(document).ready(function () {

        //if ($('#FullDayShift').val() == "1") {

        //    $('#MorningShiftFrom').prop("disabled", true);
        //    $('#MorningShiftTo').prop("disabled", true);
        //    $('#EveningShiftFrom').prop("disabled", true);
        //    $('#EveningShiftTo').prop("disabled", true);
        //}
        //else if ($('#FullDayShift').val() == "0") {
        //    $('#MorningShiftFrom').prop("disabled", false);
        //    $('#MorningShiftTo').prop("disabled", false);
        //    $('#EveningShiftFrom').prop("disabled", false);
        //    $('#EveningShiftTo').prop("disabled", false);
        //}
        //else if ($('#FullDayShift').val() == "-1") {
        //    $('#MorningShiftFrom').prop("disabled", false);
        //    $('#MorningShiftTo').prop("disabled", false);
        //    $('#EveningShiftFrom').prop("disabled", false);
        //    $('#EveningShiftTo').prop("disabled", false);
        //}



        //$('#FullDayShift').change(function () {
        //    if ($('#FullDayShift').val() == "1") {

        //        $('#MorningShiftFrom').prop("disabled", true);
        //        $('#MorningShiftTo').prop("disabled", true);
        //        $('#EveningShiftFrom').prop("disabled", true);
        //        $('#EveningShiftTo').prop("disabled", true);
        //    }
        //    else if ($('#FullDayShift').val() == "0") {
        //        $('#MorningShiftFrom').prop("disabled", false);
        //        $('#MorningShiftTo').prop("disabled", false);
        //        $('#EveningShiftFrom').prop("disabled", false);
        //        $('#EveningShiftTo').prop("disabled", false);
        //    }
        //    else if ($('#FullDayShift').val() == "-1") {
        //        $('#MorningShiftFrom').prop("disabled", false);
        //        $('#MorningShiftTo').prop("disabled", false);
        //        $('#EveningShiftFrom').prop("disabled", false);
        //        $('#EveningShiftTo').prop("disabled", false);
        //    }
        //});






        $('#btn_submit1').click(function (e) {

            if ($('option:selected', $('#DIST_CODE')).index() == 0) {
                $("#errDIST_CODE").css("display", "block");
                $('#errDIST_CODE').focus();
                return false;
            }
            else {
                $("#errDIST_CODE").css("display", "none");
            }



            if ($('#PlaceName').val().trim() == "") {
                $('#errPlaceName').css("display", "block");
                $('#errPlaceName').focus();
                return false;
            }
            else {
                $('#errPlaceName').css("display", "none");
            }

            



           

            



        });

    });


</script>

@using (Html.BeginForm("ADDUpdateUserProfile", "Master", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
               
                @ViewBag.OpType
            </h4>
        </div>

       <div class="modal-body">
    @Html.HiddenFor(model => model.UserID)
        



           <div class="col-lg-6">
                <div class="form-group">
                    <label>SSOID: <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.Ssoid, new { @class = "form-control common", @maxlength = "8", @readonly = "True" })
                    <div id="errTax" style="display:none" class="alert-danger1">Tax Rate is Required.</div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="form-group">
                    <label>Email Id: <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control common", @maxlength = "8", @readonly = "True" })
                    <div id="errEmitraCharges" style="display:none" class="alert-danger1">Emitra Charges is Required.</div>
                </div>
            </div>

          
           <div class="col-lg-6">
               <div class="form-group">
                   <label>Role Name: <span class="mandatory">*</span></label>
                   @Html.DropDownListFor(Model => Model.RoleId, (IEnumerable<SelectListItem>)ViewBag.Roles, "--Select--", new { @class = "form-control common", id = "RoleId" })
                   <div id="errDIST_CODE" style="display:none" class="alert-danger1">District Name is Required.</div>
               </div>
           </div>
            
            

            

            <!-- /.Btn Groping -->


        </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success" value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>

                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>

}