@model FMDSS.Models.Master.cls_AppSetting


@using (Html.BeginForm("APPMaster", "Master", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                Add/Edit Setting
            </h4>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(model => model.AppSettingID)

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Setting Type : <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(s => s.SettingType, new { @class = "form-control", @maxlength = "500" })
                    @Html.ValidationMessageFor(s => s.SettingType)
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>App Key : <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(s => s.AppKey, new { @class = "form-control", @maxlength = "500" })
                    @Html.ValidationMessageFor(s => s.AppKey)
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>App Value: <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(s => s.AppValue, new { @class = "form-control", @maxlength = "500" })
                    @Html.ValidationMessageFor(s => s.AppValue)
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Description: <span class="mandatory">*</span></label>
                    @Html.TextAreaFor(s => s.Description,8,10, new { @class = "form-control", @maxlength = "500" })
                    @Html.ValidationMessageFor(s => s.Description)
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Active / Deactive : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(s => s.ActiveStatus, (IEnumerable<SelectListItem>)ViewBag.ISactivelst, new { @class = "form-control common", id = "ISactivelst" })

                </div>
            </div>

            <div class="col-lg-12"></div>


            <!-- /.Btn Groping -->


        </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success" value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>

                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>

}
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
