
@model FMDSS.Models.Master.cls_SiteName


@using (Html.BeginForm("SiteMaster", "Master", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                Add/Edit Site
            </h4>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(model => model.SiteId)

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Circle Name : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(s => s.Circle_Code, (IEnumerable<SelectListItem>)ViewBag.Circle, "--Select--", new { @class = "form-control common", id = "Circle_Code", onchange = "BindAllDivision(this,'Div_Code')" })
                    @Html.ValidationMessageFor(s => s.Circle_Code)
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Division Name : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(s => s.Div_Code, (IEnumerable<SelectListItem>)ViewBag.Div, "--Select--", new { @class = "form-control common", id = "Div_Code", onchange = "BindAllRange(this,'Range_Code')" })
                    @Html.ValidationMessageFor(s => s.Div_Code)
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Range Name: <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(s => s.Range_Code, (IEnumerable<SelectListItem>)ViewBag.Range, "--Select--", new { @class = "form-control common", id = "Range_Code" })
                    @Html.ValidationMessageFor(s => s.Range_Code)
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Site Name: <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(s => s.SiteName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(s => s.SiteName)
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Active / Deactive : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(s => s.isActive, (IEnumerable<SelectListItem>)ViewBag.ISactivelst, new { @class = "form-control common", id = "ISactivelst" })

                </div>
            </div>

            <div class="col-lg-12"></div>


            <!-- /.Btn Groping -->


        </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success" value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>

                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>
    @Html.Hidden("hdnRootURL", Url.Content("~/"))
}
<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Controller/Common.js"></script>


<script>

    $(document).ready(function () {
        $('#Circle_Code').change(function () {
            var ID = $('#Circle_Code').val();
            console.log(ID);
            GetData(ID, 'DIV');
        })
        $('#Div_Code').change(function () {
            var ID = $('#Circle_Code').val();
            console.log(ID);
            GetData(ID, 'RANGE');
        })
    });



    function GetData(ID, Type) {

        var sUrl = '';
        switch (Type) {
            case 'DIV':
                sUrl = '@Url.Action("GetDivision", "Master")';
                break;
            case 'RANGE':
                sUrl = '@Url.Action("GetRange", "Master")';
                break;
            default:
                sUrl = '';
        }

        $.ajax({
            type: 'GET',
            url: sUrl,
            dataType: 'json',
            data: { Id: ID },
            success: function (data) {
                $.each(data, function (i, items) {
                    $('#Div_Code').append('<option value="' + items.Value + '">' + items.Text + '</option>');
                });


               // alert(data);
            },
            error: function (data) { console.log(data); }
        });
    }

</script>
