@model IEnumerable<FMDSS.Entity.ViewModel.cls_FraDetails>



<div class="panel panel-default">
    <div class="panel-heading" style="font-size:14px;font-weight:700;">
        Applicant Details
    </div>

    @foreach (var item in Model)
    {

        <div class="panel-body">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Request ID :</label>
                    @item.ClaimRequestIDWithPrefix
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Raised On:</label>
                    @item.RaisedOn
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>District Name :</label>
                    @item.DistrictName
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Block Name:</label>
                    @item.BlockName
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Village Name:</label>
                    @item.VillageName
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Gram Panchayat:</label>
                    @item.GPName
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Applicant Comment:</label>
                    @item.RequesterComment
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Rejected Ref Number:</label>
                    @item.RejectedRefNumber
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Rejected Ref Number:</label>
                    @item.RejectedRequestDate
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Rejected Date:</label>
                    @item.RejectedDate
                </div>
            </div>


            <div class="col-lg-6">
                <div class="form-group">
                    <label>Rejected Reason:</label>
                    @item.RejectedReason
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Current Status:</label>
                    @item.CurrentStatus
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Claimant Name:</label>
                    @item.ClaimantName
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Father Name:</label>
                    @item.FatherName
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Spouse Name:</label>
                    @item.SpouseName
                </div>
            </div>


            <div class="col-lg-6">
                <div class="form-group">
                    <label>Khasra Number:</label>
                    @item.KhasraNumber
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Total Area Against Khasra:</label>
                    @item.TotalAreaAgainstKhasra
                </div>
            </div>


        </div>

    }
</div>





