@model FMDSS.Models.Master.Designations


<script type="text/javascript" src="~/js/jquery.min.js"></script>


@using (Html.BeginForm("AddUpdatePlaceWithForestOffice", "UserManagementMaster", FormMethod.Post))
{
    
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
              Map Places
            </h4>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(model => model.USERID)
            @Html.HiddenFor(model => model.OfficeID)

            @Html.HiddenFor(model => model.OffcLevel)
            @Html.HiddenFor(model => model.ForestBoundaries)

         
        <div class="col-lg-12">
                <div class="form-group">
                    <label>PLCAES : <span class="mandatory">*</span></label>
                     @Html.ListBoxFor(model => model.PLCAEIDss, Model.PLCAEIDs, new { @class = "PLCAEIDlistbox" })
                </div>
            </div>
        </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success" value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>

                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>
    
}





