@model FMDSS.Models.Master.Designations
<link href="~/css/timepicki.css" rel="stylesheet" />
<script src="~/js/timepicki.js"></script>
<script>
    var $j = jQuery.noConflict();
    $j('.timepicker').timepicki();

</script>

<script type="text/javascript" src="~/js/jquery.min.js"></script>


<script>
    var RootUrl = '@Url.Content("~/")';




    $(document).ready(function () {

        $('#btn_submit1').click(function (e) {

           
            if ($('#Desig_Alias').val().trim() == "") {
                $('#errDesig_Alias').css("display", "block");
                $('#errDesig_Alias').focus();
                return false;
            }
            else {
                $('#errDesig_Alias').css("display", "none");
            }

            

            if ($('#Desig_Name').val().trim() == "") {
                $('#errDesig_Name').css("display", "block");
                $('#errDesig_Name').focus();
                return false;
            }
            else {
                $('#errDesig_Name').css("display", "none");
            }

            if ($('option:selected', $('#IsReviewer')).index() == 0) {
                $("#errIsReviewer").css("display", "block");
                $('#errIsReviewer').focus();
                return false;
            }
            else {
                $("#errIsReviewer").css("display", "none");
            }

            if ($('option:selected', $('#IsApprover')).index() == 0) {
                $("#errIsApprover").css("display", "block");
                $('#errIsApprover').focus();
                return false;
            }
            else {
                $("#errIsApprover").css("display", "none");
            }


            if ($('option:selected', $('#IsReviewer')).index() == 0) {
                $("#errIsReviewer").css("display", "block");
                $('#errIsReviewer').focus();
                return false;
            }
            else {
                $("#errIsReviewer").css("display", "none");
            }

            if ($('option:selected', $('#ApplicationAssigner')).index() == 0) {
                $("#errApplicationAssigner").css("display", "block");
                $('#errApplicationAssigner').focus();
                return false;
            }
            else {
                $("#errApplicationAssigner").css("display", "none");
            }
            


            if ($('option:selected', $('#IsApprover')).index() == 0) {
                $("#errIsApprover").css("display", "block");
                $('#errIsApprover').focus();
                return false;
            }
            else {
                $("#errIsApprover").css("display", "none");
            }






            if ($('option:selected', $('#Isactive')).index() == 0) {
                $("#errIsactive").css("display", "block");
                $('#errIsactive').focus();
                return false;
            }
            else {
                $("#errIsactive").css("display", "none");
            }


            if ($('option:selected', $('#IsReviewer')).index() == 1 && $('option:selected', $('#IsApprover')).index() == 1) {
                $("#errIsReviewerIsApproverValidation").css("display", "block");
                return false;
            }
            else {
                $("#errIsReviewerIsApproverValidation").css("display", "none");
            }

        });

    });

</script>

@using (Html.BeginForm("AddUpdateDesignation", "UserManagementMaster", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                @*<label id="lbl_dpt">Add/Edit Place</label>*@
                @ViewBag.OpType
            </h4>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(model => model.DesigId)
          
            

              

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Designation Name: <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.Desig_Name, new { @class = "form-control common", @maxlength = "50" })
                    <div id="errDesig_Name" style="display:none" class="alert-danger1">Designation Name is Required.</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Alias Name: <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.Desig_Alias, new { @class = "form-control common", @maxlength = "50" })
                    <div id="errDesig_Alias" style="display:none" class="alert-danger1">Designation Alias is Required.</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Reviewer  : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(Model => Model.IsReviewer, (IEnumerable<SelectListItem>)ViewBag.ISReviewerlst, "--Select--", new { @class = "form-control common", id = "IsReviewer" })
                    <div id="errIsReviewer" style="display:none" class="alert-danger1">Reviewer is Required.</div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Approver  : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(Model => Model.IsApprover, (IEnumerable<SelectListItem>)ViewBag.ISApproverlst, "--Select--", new { @class = "form-control common", id = "IsApprover" })
                    <div id="errIsApprover" style="display:none" class="alert-danger1">Approver  is Required.</div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Application Assigner  : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(Model => Model.ApplicationAssigner, (IEnumerable<SelectListItem>)ViewBag.ISApproverlst, "--Select--", new { @class = "form-control common", id = "ApplicationAssigner" })
                    <div id="errApplicationAssigner" style="display:none" class="alert-danger1">Application Assigner  is Required.</div>

                </div>
            </div>
            
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Active / Deactive : <span class="mandatory">*</span></label>
                        @Html.DropDownListFor(Model => Model.IsActive, (IEnumerable<SelectListItem>)ViewBag.ISactivelst, "--Select--", new { @class = "form-control common", id = "isActive" })
                        <div id="errIsactive" style="display:none" class="alert-danger1">Active / Deactive  is Required.</div>
                       
                    </div>
                </div>

                <div class="col-lg-6">
                    <br />
                    <div id="errIsReviewerIsApproverValidation" style="display:none" class="alert-danger1">
                        
                         Select only one column 'Yes' at a time for Reviewer and Approver 

                    </div>
                          </div>
                <!-- /.Btn Groping -->
            </div>
            
     
           <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success"  value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>
                
                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>

}