@model FMDSS.Models.Master.ResearchPlantsAnimals


<link href="~/css/timepicki.css" rel="stylesheet" />
<script src="~/js/timepicki.js"></script>

<script type="text/javascript" src="~/js/jquery.min.js"></script>


<script>
    var RootUrl = '@Url.Content("~/")';

    $(document).ready(function () {

        $('#btn_submit1').click(function (e) {

            if ($('option:selected', $('#PlaceID')).index() == 0) {
                $("#errPlaceID").css("display", "block");
                $('#errPlaceID').focus();
                return false;
            }
            else {
                $("#errPlaceID").css("display", "none");
            }

            if ($('option:selected', $('#PlaceCat')).index() == 0) {
                $('#errPlaceCat').css("display", "block");
                $('#errPlaceCat').focus();
                return false;
            }
            else {
                $('#errPlaceCat').css("display", "none");
            }

            if ($('#SpecieName').val().trim() == "") {
                 $('#errSpecieName').css("display", "block");
                 $('#errSpecieName').focus();
                return false;
            }
            else {
                 $('#errSpecieName').css("display", "none");
            }

             if ($('#SpecieCat').val().trim() == "") {
                 $('#errSpecieCat').css("display", "block");
                 $('#errSpecieCat').focus();
                return false;
            }
            else {
                 $('#errSpecieCat').css("display", "none");
            }

             if ($('#SpecieType').val().trim() == "") {
                 $('#errSpecieType').css("display", "block");
                 $('#errSpecieType').focus();
                return false;
            }
            else {
                 $('#errSpecieType').css("display", "none");
             }


            if ($('option:selected', $('#Isactive')).index() == 0) {
                 $("#errIsactive").css("display", "block");
                 $('#errIsactive').focus();
                return false;
            }
            else {
                 $("#errIsactive").css("display", "none");
            }



        });


    });







</script>

@using (Html.BeginForm("ADDUpdateResearchPlantsAnimals", "Master", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                @*<label id="lbl_dpt">Add/Edit Place</label>*@
                @ViewBag.OpType
            </h4>
        </div>

        <div class="modal-body">
           
          
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Place Name: <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(Model => Model.PlaceID, (IEnumerable<SelectListItem>)ViewBag.ddlPlace1, "--Select--", new { @class = "form-control common", id = "PlaceID" })
                    <div id="errPlaceID" style="display:none" class="alert-danger1">Place Name is Required.</div>
                    @Html.HiddenFor(model => model.SpecieId)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Place Category: <span class="mandatory">*</span></label>                    
                    @Html.DropDownListFor(Model => Model.PlaceCat, (IEnumerable<SelectListItem>)ViewBag.Category1, "--Select--", new { @class = "form-control common", id = "Category" })
                    <div id="errPlaceCat" style="display:none" class="alert-danger1">Place Category is Required.</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Special Name  : <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.SpecieName, new { @class = "form-control common", @maxlength = "100" })
                    <div id="errSpecieName" style="display:none" class="alert-danger1">Specie Name is Required.</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Special Category  : <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.SpecieCat, new { @class = "form-control common", @maxlength = "100" })
                    <div id="errSpecieCat" style="display:none" class="alert-danger1">Specie Category is Required.</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Special Type  : <span class="mandatory">*</span></label>
                    @Html.TextBoxFor(model => model.SpecieType, new { @class = "form-control common", @maxlength = "100" })
                    <div id="errSpecieType" style="display:none" class="alert-danger1">Specie Type is Required.</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Active / Deactive : <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(Model => Model.Isactive, (IEnumerable<SelectListItem>)ViewBag.ISactivelst, "--Select--", new { @class = "form-control common", id = "Isactive" })
                    <div id="errIsactive" style="display:none" class="alert-danger1">Active / Deactive  is Required.</div>

                </div>
            </div>
        </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success" value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>

                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>

}