<!DOCTYPE html>

<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>System Administration</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
     
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/mobile.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/dashboard/dashboard.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/css/dashboard/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/dashboard/dataTables.bootstrap.css" rel="stylesheet" />
  
    @*<script type="text/javascript" src="~/js/jquery.min.js"></script>*@
    



    
</head>
<body>
  @Html.Partial("_TopHeaderSuperAdmin")
   
    <div id="wrapper">
        <div class="container-fluid desh">
            <div class="row">
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Message">
                            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                           @Html.Partial("_MessageSuperAdmin")
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <!-- /.Massage dropdown -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" title="Notifications">
                            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                           @Html.Partial("_CommentSuperAdmin")
                        </ul>
                        <!-- /.dropdown-alerts -->

                    </li>
                    <!-- /.Alert dropdown -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" title="My Wish List">
                            <i class="fa fa-th-list fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-edit fa-fw"></i> My Wish list  
                                    </div>
                                </a>
                            </li>

                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                    <!-- /.WishList dropdown -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" title="Favourite">
                            <i class="fa fa-star fa-fw"></i>
                        </a>
                    </li>
                    <!-- /.Favourite dropdown -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false" title="Users">
                            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            @if (Session["ROLEGROUPS"] != null)
                            {
                                foreach (var item in (IEnumerable<FMDSS.Models.ROLEGROUPS>)Session["ROLEGROUPS"])
                                {
                                    <li>

                                        <a href="@Url.Action("SwitchRoles", "Home", new { CurrentRole = @item.RoleId })"><i class="fa fa-user fa-fw"></i> @item.RoleName</a>

                                    </li>
                                }
                            }
                            
                            <li>
                                <a href="~/WebForm1.aspx?val=logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>                                
                            </li>
                            @if (Session["UserProfile"] != null)
                            {
                                @Html.Raw(Convert.ToString(Session["UserProfile"]));
                            }
                        </ul>
                        <!-- /.dropdown-user -->

                    </li>
                    <!-- /.User dropdown -->
                </ul>
            </div>
            <hr />
            @Html.Partial("_LeftMenuSuperAdmin")
            
                      <!-- Page Content -->
            @RenderBody()
           
            
        </div>



        <!-- Footer -->
            @Html.Partial("_FooterSuperAdmin")
        <!-- /.Footer -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        
        <style>
            #ForestBoundaries {
                width: 99%;
            }
        </style>
        
       
        @*<script src="~/Scripts/jquery.blockUI.js"></script>
        <script>

            $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
        </script>*@


@*<script>
    $(document).ready(function () { $("input").attr("autocomplete", "off"); });
</script>*@        



</body>


</html>


<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/dashboard/dashboard.js" type="text/javascript"></script>
<script src="~/js/dashboard/sidebar.js" type="text/javascript"></script>
<link href="~/css/dashboard/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/js/dashboard/jquery.dataTables.min.js"></script>
<script src="~/js/dashboard/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

