@model List<FMDSS.Models.ForestProtection.ForesterParivad>

<script src="~/js/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
</script>

<script type="text/javascript">
    //function ViewDetails(OffenseCode) {
    //    var tblinfo = {
    //        OffenseCode: $.trim(OffenseCode)
    //    }
    //    $("#tbdyScart").empty();
    //    $.ajax({
    //        type: 'POST',
    //        url: RootUrl + 'ForesterParivadRegistration/ViewDetails',
    //        contentType: 'application/json; charset=utf-8',
    //        data: JSON.stringify(tblinfo),
    //        success: function (data) {                             
    //            $('#tbdyScart').html(data.OffenderPartialView2);
    //            }
    //        });
    //    };



    function ViewDetails(OffenseCode) {
        var tblinfo = {
            OffenseCode: $.trim(OffenseCode)
        }
        $("#tbdyScart").empty();
        $.ajax({
            type: 'POST',
            url: RootUrl + 'ForesterParivadRegistration/GetParivadeDetails',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(tblinfo),
            success: function (data) {
                $('#tbdyScart').html(data.OffenderListPartialView);
            }
        });
    };

</script>
<style>
    #myModalDfo .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
</style>
<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Offense ID</th>
                <th>District</th>
                <th>Place of Offense</th>
                <th>Date of Offense</th>             
                <th>Complain Type</th>
                <th>Applicant Name</th>
            </tr>
        </thead>
        <tbody>
           @if (Model != null)
           {
               foreach (var item in Model as IEnumerable<FMDSS.Models.ForestProtection.ForesterParivad>)
               {                                
                   <tr>                    
                    <td data-toggle="modal" data-target="#myModalDfo" style="cursor:pointer" onclick="ViewDetails('@item.OffenseCode')">
                       @item.OffenseCode
                        
                    </td>
                       <td data-toggle="modal" data-target="#myModalDfo" style="cursor:pointer" onclick="ViewDetails('@item.OffenseCode')">
                           @item.District
                       </td>
                       <td data-toggle="modal" data-target="#myModalDfo" style="cursor:pointer" onclick="ViewDetails('@item.OffenseCode')">
                           @item.OffensePlace
                       </td>
                       <td data-toggle="modal" data-target="#myModalDfo" style="cursor:pointer" onclick="ViewDetails('@item.OffenseCode')">
                           @item.OffenseDate
                       </td>
                       <td data-toggle="modal" data-target="#myModalDfo" style="cursor:pointer" onclick="ViewDetails('@item.OffenseCode')">
                           @item.OffenseSeverity
                   </td>                    
                       <td data-toggle="modal" data-target="#myModalDfo" style="cursor:pointer" onclick="ViewDetails('@item.OffenseCode')">
                           @item.ApplicantName
                   </td>    
                </tr>               
               }                
           }           
        </tbody>
    </table>
</div>
<div class="modal fade in" id="myModalDfo" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog mdw">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Offense Details
                </h4>
            </div>
            <br />
            <div class="modal-body tbl-scroll">
                <!-- From URL Get -->
                <table class="table table-striped table-bordered table-hover">
                    <tbody id="tbdyScart"></tbody>
                </table>           
            </div>        
            <!-- /.modal-body -->
            <div class="modal-footer" id="fot-f">
                <div id="btn" class="col-lg-12">                 
                    <button name="button" class="btn btn-danger" type="submit" value="Cancel" data-dismiss="modal" style="width: auto">
                        <i class="fa fa-times fa-fw"></i> Close
                    </button>

                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>