@model  List<FMDSS.Models.ForestProtection.CitizenParivad>

<style>
    #myModalDfo .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
</style>

<div class="dataTable_wrapper">

    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Field</th>
                <th>Discription</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in ViewData["lstOffenseDetails"] as IEnumerable<FMDSS.Models.ForestProtection.ForesterParivad>)
                {

                    <tr>
                        <td>OffenseCode:</td>
                        <td>@item.OffenseCode</td>
                    </tr>
                    if (item.ApplicantName != "")
                    {
                        <tr>
                            <td>ApplicantName</td>
                            <td>@item.ApplicantName</td>
                        </tr>
                    }
                    if (item.District != "")
                    {
                        <tr>
                            <td>District</td>
                            <td>@item.District</td>
                        </tr>
                    }
                    if (item.ForestBlock != "")
                    {
                        <tr>
                            <td>ForestBlock</td>
                            <td>@item.ForestBlock</td>
                        </tr>
                    }
                    if (item.GP_Name != "")
                    {
                        <tr>
                            <td>GP_Name</td>
                            <td>@item.GP_Name</td>
                        </tr>
                    }
                    if (item.Vill_Name != "")
                    {
                        <tr>
                            <td>Vill_Name</td>
                            <td>@item.Vill_Name</td>
                        </tr>
                    }
                    if (item.Range_Name != "")
                    {
                        <tr><td>Range_Name</td><td>@item.Range_Name</td> </tr>
                    }
                    if (item.Tehsil != "")
                    {
                        <tr>
                            <td>Tehsil</td>
                            <td>@item.Tehsil</td>
                        </tr>
                    }
                    if (item.Naka != "")
                    {
                        <tr>
                            <td>Naka</td>
                            <td>@item.Naka</td>
                        </tr>
                    }
                    if (item.Beat != "")
                    {
                        <tr>
                            <td>Beat</td>
                            <td>@item.Beat</td>
                        </tr>
                    }
                    if (item.OffensePlace != "")
                    {

                        <tr>
                            <td>OffensePlace</td>
                            <td>@item.OffensePlace</td>
                        </tr>
                    }
                    if (item.OffenseDate != "")
                    {
                        <tr>
                            <td>OffenseDate</td>
                            <td>@item.OffenseDate</td>
                        </tr>
                    }
                    if (item.OffenseTime != "")
                    {
                        <tr>
                            <td>OffenseTime</td>
                            <td>@item.OffenseTime</td>
                        </tr>
                    }
                    if (item.OffenceCategory != "")
                    {
                        <tr>
                            <td>OffenceCategory</td>
                            <td>@item.OffenceCategory</td>
                        </tr>
                    }
                    if (item.TypeoFForest != "")
                    {
                        <tr>
                            <td>TypeoFForest</td>
                            <td>@item.TypeoFForest</td>
                        </tr>
                    }
                    if (item.Offence_Description != "")
                    {
                        <tr>
                            <td>Offence_Description</td>
                            <td>@item.Offence_Description</td>
                        </tr>
                    }
                    if (item.No_of_offender != 0)
                    {
                        <tr>
                            <td>No_of_offender</td>
                            <td>@item.No_of_offender</td>
                        </tr>
                    }
                    if (item.Description_of_offenders != "")
                    {

                        <tr>
                            <td>Description_of_offenders</td>
                            <td>@item.Description_of_offenders</td>
                        </tr>
                    }
                    if (item.ComplaintOnBhalfOf != "")
                    {
                        <tr>
                            <td>ComplaintOnBhalfOf</td>
                            <td>@item.ComplaintOnBhalfOf</td>
                        </tr>
                    }
                    if (item.AssignTo != "")
                    {
                        <tr>
                            <td>AssignTo</td>
                            <td>@item.AssignTo</td>
                        </tr>
                    }
                    if (item.OffenseSeverity != "")
                    {
                        <tr>
                            <td>OffenseSeverity</td>
                            <td>@item.OffenseSeverity</td>
                        </tr>
                    }
                    if (item.WildlifeProtectionSection != "")
                    {
                        <tr>
                            <td>WildlifeProtectionSection</td>
                            <td>@item.WildlifeProtectionSection</td>
                        </tr>
                    }
                    if (item.OffenseSubCategoryWildLife != "")
                    {
                        <tr>
                            <td>OffenseSubCategoryWildLife</td>
                            <td>@item.OffenseSubCategoryWildLife</td>
                        </tr>
                    }
                    if (item.ForestProtectionSection != "")
                    {
                        <tr>
                            <td>ForestProtectionSection</td>
                            <td>@item.ForestProtectionSection</td>
                        </tr>
                    }
                    if (item.OffenseSubCategoryForest != "")
                    {
                        <tr>
                            <td>OffenseSubCategoryForest</td>
                            <td>@item.OffenseSubCategoryForest</td>
                        </tr>
                    }
                    if (item.VisitDate != "")
                    {
                        <tr>
                            <td>VisitDate</td>
                            <td>@item.VisitDate</td>
                        </tr>

                    }
                    if (item.VisitPlace != "")
                    {
                        <tr>
                            <td>VisitPlace</td>
                            <td>@item.VisitPlace</td>
                        </tr>
                    }
                    if (item.Complaint_Found != "")
                    {
                        <tr>
                            <td>Complaint_Found</td>
                            <td>@item.Complaint_Found</td>
                        </tr>
                    }
                    if (item.Mokapunchnama != "" && item.Mokapunchnama != "N/A")
                    {
                        <tr>
                            <td>Mokapunchnama</td>
                            @if (item.Mokapunchnama != "N/A")
                            {

                                <td><a href=@Url.Content(@item.Mokapunchnama) target='_blank'><img src='../images/jpeg.png' width='30' /></a></td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }

                        </tr>
                    }
                    if (item.Najri_Naksha != "" && item.Najri_Naksha != "N/A")
                    {
                        <tr>
                            <td>Najri_Naksha</td>

                            @if (item.Najri_Naksha != "N/A")
                            {

                                <td><a href=@Url.Content(@item.Najri_Naksha) target='_blank'><img src='../images/jpeg.png' width='30' /></a></td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }

                        </tr>
                    }
                    if (item.Witness_Recorded1 != "" && item.Witness_Recorded1 != "N/A")
                    {
                        <tr>
                            <td>Witness_Recorded1</td>



                            @if (item.Witness_Recorded1 != "N/A")
                            {

                                <td><a href=@Url.Content(@item.Witness_Recorded1) target='_blank'><img src='../images/jpeg.png' width='30' /></a></td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        </tr>
                    }
                    if (item.Witness_Recorded2 != "" && item.Witness_Recorded2 != "N/A")
                    {
                        <tr>
                            <td>Witness_Recorded2</td>



                            @if (item.Witness_Recorded2 != "N/A")
                            {

                                <td><a href=@Url.Content(@item.Witness_Recorded2) target='_blank'><img src='../images/jpeg.png' width='30' /></a></td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        </tr>
                    }
                    if (item.Witness_Recorded3 != "" && item.Witness_Recorded3 != "N/A")
                    {
                        <tr>
                            <td>Witness_Recorded3</td>



                            @if (item.Witness_Recorded3 != "N/A")
                            {

                                <td><a href=@Url.Content(@item.Witness_Recorded3) target='_blank'><img src='../images/jpeg.png' width='30' /></a></td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        </tr>
                    }
                    if (item.List_of_ArticalSeized != "")
                    {
                        <tr>
                            <td>List_of_ArticalSeized</td>
                            <td>@item.List_of_ArticalSeized</td>
                        </tr>
                    }
                    if (item.Recommendation != "" && item.Recommendation != "N/A")
                    {
                        <tr>
                            <td>Recommendation</td>
                            @if (item.Recommendation != "N/A")
                            {

                                <td><a href=@Url.Content(@item.Recommendation) target='_blank'><img src='../images/jpeg.png' width='30' /></a></td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        </tr>
                    }
                    if (item.FieldInspection != "" && item.FieldInspection != "N/A")
                    {
                        <tr>
                            <td>FieldInspection</td>


                            @if (item.FieldInspection != "N/A")
                            {

                                <td><a href=@Url.Content(@item.FieldInspection) target='_blank'><img src='../images/jpeg.png' width='30' /></a></td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        </tr>
                    }
                    if (item.VehicleSeized != "")
                    {

                        <tr>
                            <td>VehicleSeized</td>
                            <td>@item.VehicleSeized</td>
                        </tr>
                    }
                    if (item.InvestigationCompleteDate != "")
                    {

                        <tr>
                            <td>InvestigationCompleteDate</td>
                            <td>@item.InvestigationCompleteDate</td>
                        </tr>
                    }
                    if (item.DispatchNo != "")
                    {
                        <tr>
                            <td>DispatchNo:</td>
                            <td>@item.DispatchNo</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>





    <h6>Offender Details</h6>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>OffenderName</th>
                <th>FatherName</th>
                <th>Address1</th>
                <th>OffenderStatement</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in ViewData["lstOffender"] as IEnumerable<FMDSS.Models.ForestProtection.CitizenParivad>)
                {
                    <tr>
                        <td>@item.OffenderName</td>
                        <td>@item.OFatherName</td>
                        <td>@item.OAddress1</td>
                        <td>@item.OffenderStatement</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <h6>Vehicle Details</h6>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Vehicle RegistrationNo</th>
                <th>Vehicle OwnerName</th>
                <th>Vehicle EngineNo</th>
                <th>Vehicle ChassisNo</th>
                <th>Vehicle Make</th>
                <th>Vehicle Model</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in ViewData["lstVehicle"] as IEnumerable<FMDSS.Models.ForestProtection.CitizenParivad>)
                {
                    <tr>
                        <td>@item.VechileRegistrationNo</td>
                        <td>@item.VechileOwnerName</td>
                        <td>@item.VechileEngineNo</td>
                        <td>@item.VechileChassisNo</td>
                        <td>@item.VechileMake</td>
                        <td>@item.VechileModel</td>
                    </tr>
                }
            }
        </tbody>
    </table>






</div>