@model FMDSS.Models.Admin.DashboardRescueDetails
<div class="modal-dialog">
    <div class="modal-content"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Rescue Details
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="panel-body"> 
                        <table class="table table-striped table-bordered table-hover">
                            <tr>
                                <td>RegistrationID</td>
                                <td>@Model.RegistrationID</td>
                            </tr> 
                            <tr>
                                <td>Citizen Name</td>
                                <td>@Model.CitizenName</td>
                            </tr> 
                            <tr>
                                <td>Citizen Email</td>
                                <td>@Model.CitizenEmailID</td>
                            </tr> 
                            <tr>
                                <td>Citizen Mobile No</td>
                                <td>@Model.CitizenMobileNo</td>
                            </tr> 
                            <tr>
                                <td>District</td>
                                <td>@Model.DIST_NAME</td>
                            </tr> 
                            <tr>
                                <td>Block</td>
                                <td>@Model.BLK_NAME</td>
                            </tr> 
                            <tr>
                                <td>Gram Panchayat</td>
                                <td>@Model.GP_NAME</td>
                            </tr> 
                            <tr>
                                <td>Village</td>
                                <td>@Model.VILL_NAME</td>
                            </tr> 
                            <tr>
                                <td>Location</td>
                                <td>@Model.Location</td>
                            </tr> 
                            <tr>
                                <td>Registration Description</td>
                                <td>@Model.RegistrationDescription</td>
                            </tr>
                            <tr>
                                <td>Registration Photo</td> 
                                <td><a href="@Url.Content("~/" + Model.RegistrationPhotoPath)" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>Hospital Name</td>
                                <td>@Model.HospitalName</td>
                            </tr> 
                            <tr>
                                <td>Rescue Photo</td>
                                <td><a href="@Url.Content("~/" + Model.RescuePhotoPath)" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>Rescue Remarks</td>
                                <td>@Model.RescueRemarks</td>
                            </tr> 
                            <tr>
                                <td>Release Photo</td>
                                <td><a href="@Url.Content("~/" + Model.ReleasePhotoPath)" target="_blank">Download</a></td>
                            </tr>
                            <tr>
                                <td>Rescue Officer Designation</td>
                                <td>@Model.RescueOfficerDesig</td>
                            </tr>
                            <tr>
                                <td>Rescue Officer Name</td>
                                <td>@Model.RescueOfficerName</td>
                            </tr>
                            <tr>
                                <td>Casualty Type</td>
                                <td>@Model.CasualtyType</td>
                            </tr>
                            <tr>
                                <td>No Of Person Injured</td>
                                <td>@Model.NoOfPersonInjured</td>
                            </tr>
                            <tr>
                                <td>Casualty Description</td>
                                <td>@Model.CasualtyDescription</td>
                            </tr>
                            <tr>
                                <td>Rescue Status</td>
                                <td>@Model.RescueStatus</td>
                            </tr>  
                        </table>

                    </div>

                </div>

            </div> 
            <!-- /.modal-body -->
            <div class="modal-footer" id="fot-f">
                <div id="btn" class="col-lg-12">
                    <button id="btnCancel" name="button" class="btn btn-danger" type="button" value="Cancel" data-dismiss="modal" style="width: auto">
                        <i class="fa fa-times fa-fw"></i> Close
                    </button>

                </div>
            </div>
        </div>  
    </div> 
</div>   