@{
    var data = (FMDSS.Models.ForestProduction.LotMaster)ViewBag.LotDetails; 
}

@using (Ajax.BeginForm("UpdateLotDetails", "ManageInventory", new AjaxOptions { HttpMethod = "POST", Confirm = FMDSS.Globals.Constant.ConfirmMsg, OnSuccess = "UpdateLotResponse", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tab3default" }, new { id = "frmMInventory" }))
{
            <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-body">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Depot Name: <span class="mandatory">*</span></label> 
                    <input class="form-control" type="text" id="txtDepotID" value="@data.Depot_Name" readonly="readonly"> 
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Product Type: <span class="mandatory">*</span></label>
                    <input class="form-control" type="text" id="txtProductType" value="@data.ProductType" readonly="readonly"> 

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Product: <span class="mandatory">*</span></label> 
                    <input class="form-control" type="text" id="txtProductName" value="@data.ProductName" readonly="readonly"> 
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label>Unit<span id="unitspan"></span> <label id="lbl_availableQty" class="pull-right"></label>:</label>
                    <input class="form-control" type="text" id="txtUnitName" value="@data.UnitName" readonly="readonly">
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label>Lot Quantity:<span class="mandatory">*</span></label>
                    <input class="form-control" type="text" id="txt_qty" name="LotQty" value="@data.LotQty" onkeypress="AllowNumberOnly(event)">
                </div>
            </div>

        </div>

        <!--/.model body-->

        <div class="modal-footer" style="clear: both">

            <div id="btn" class="col-lg-12">
                <button type="submit" class="btn btn-success" name="Command" onclick="return ValidateDetails(1)" value="EditLot" id="btn_Save">
                    <i class="fa fa-check"></i>Submit
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i>  Close
                </button>

            </div>
        </div>
    </div>
    @Html.Hidden("DepotID",data.DepotID)
    @Html.Hidden("ProductID", data.ProductID)
    @Html.Hidden("LotID", data.LotID)
}
<script>
    function ValidateDetails(value) {
        if (value == 1) {
           if ($.isEmptyObject($.trim($('#txt_qty').val()))) {
                alert('please enter Lot Quantity.');
                return false;
            }
        }
        return true;
    }
</script>