@using FMDSS
@model FMDSS.Models.NationalPark.PlaceMappingModel
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script>
    //var form = $("#frmPlaceMapping");    
    //$("#btn_submit1").click(function () {
    //    form.validate();
    //    if (form.valid())
    //    {
    //        if ($("#ShiftId").val() == '' && $("#VehicleId").val() == '' && $("#ZoneId").val() == '')
    //        {
    //            alert("Please select atleast one item from either shift or zone or vehicle.");
    //            return false;
    //        }
    //    }
    //});
</script>
@using (Html.BeginForm("CreateEditPlaceMapping", "NationalParkMaster", FormMethod.Post, new { @id="frmPlaceMapping" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                @(Model.Id == 0 ? "Add Place Mapping" : "Edit Place Mapping")
            </h4>
        </div>

        <div class="modal-body">
            @Html.HiddenFor(model => model.Id)
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Place: <span class="mandatory">*</span></label>
                    @Html.DropDownListFor(model => model.PlaceId, (IEnumerable<SelectListItem>)ViewBag.Places, "--Select--", new { @class = "form-control common" })
                    <div class="alert-danger1">@Html.ValidationMessageFor(model => model.PlaceId)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Zone:</label>
                    @Html.DropDownListFor(model => model.ZoneId, (IEnumerable<SelectListItem>)ViewBag.Zones, "--Select--", new { @class = "form-control common" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Shift Name:</label>
                    @Html.DropDownListFor(model => model.ShiftId, (IEnumerable<SelectListItem>)ViewBag.Shifts, "--Select--", new { @class = "form-control common" })                                        
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Vehicle Type:</label>
                    @Html.DropDownListFor(model => model.VehicleId, (IEnumerable<SelectListItem>)ViewBag.Vehicles, "--Select--", new { @class = "form-control common" })
                </div>
            </div>

            
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Active:</label>
                    @Html.CheckBoxFor(model => model.IsActive)
                </div>
            </div>
        </div>
        <div class="modal-footer" style="clear:both">
            <div id="btn" class="col-lg-12">

                <button type="submit" class="btn btn-success" value="Save" id="btn_submit1">
                    <i class="fa fa-check"></i> Save
                </button>

                <button type="button" id="btn_cancel" name="Command" value="Cancel" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i> Close
                </button>

            </div>

        </div>
    </div>

}