@model FMDSS.Models.BookOnlineTicket.TicketData

<tr style="" id="trRow0">
    <td>@Html.TextBoxFor(x=>x.Id) </td>
    <td>@Html.TextBoxFor(x => x.Name) </td>   
    <td>@Html.TextBoxFor(x => x.Gender) </td>   
    <td>@Html.TextBoxFor(x => x.Nationality) </td>   
    <td>@Html.TextBoxFor(x => x.IDType) </td>    
    <td>@Html.TextBoxFor(x => x.IDNo) </td>   
    <td>@Html.TextBoxFor(x => x.VideoCamera) </td>   
    <td>@Html.TextBoxFor(x => x.Fee) </td>   
    <td>@Html.TextBoxFor(x => x.CameraFee) </td>   
    <td>@Html.TextBoxFor(x => x.GuideFee) </td>   


    @*<td style="width:10%!important;"><input value="1" class="MemberSLNo" id="MemberSLNo0" name="[0].MemberSLNo" readonly="readonly" type="text"></td>
    <td><input class="MemberName" id="MemberName0" maxlength="100" name="[0].MemberName" type="text" value=""></td>
    <td>
        <select class="MemberGender" id="MemberGender0" name="[0].MemberGender">
            <option value="0">--Select--</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Transgender</option>
        </select>
    </td>
    <td>
        <select class="MemberNationality" id="MemberNationality0" name="[0].MemberNationality">
            <option value="0">--Select--</option>
            <option value="1">Indian</option>
            <option value="2">Foreigner</option>
        </select>
    </td>
    <td>
        <select class="MemberIdType" id="MemberIdType0" name="[0].MemberIdType">
            <option value="0">--Select--</option>
            <option value="1">Passport</option>
            <option value="2">Aadhar</option>
            <option value="3">Driving Licence</option>
            <option value="4">Voter ID</option>
            <option value="5">PAN Card</option>
            <option value="6">Office ID</option>
            <option value="7">Student ID</option>
        </select>
    </td>
    <td class="IdNo"><input class="MemberIdNo" id="MemberIdNo0" maxlength="50" name="[0].MemberIdNo" type="text" value=""></td>
    <td><input class="MemberTotalCamera" id="MemberTotalCamera0" maxlength="1" name="[0].MemberTotalCamera" type="text" value=""></td>
    <td><input class="MemberFees" data-val="true" data-val-number="The field TotalPerMemberFees must be a number." data-val-required="The TotalPerMemberFees field is required." id="MemberFees0" name="[0].TotalPerMemberFees" readonly="readonly" type="text" value="0"> </td>
    <td><input class="MemberCameraFees" data-val="true" data-val-number="The field TotalPerMemberCameraFees must be a number." data-val-required="The TotalPerMemberCameraFees field is required." id="MemberCameraFees0" name="[0].TotalPerMemberCameraFees" readonly="readonly" type="text" value="0"></td>
    <td> <input class="TotalBoardingFee" data-val="true" data-val-number="The field TotalBoardingFee must be a number." data-val-required="The TotalBoardingFee field is required." id="TotalBoardingFee0" name="[0].TotalBoardingFee" readonly="readonly" type="text" value="0"> </td>
    <td style="display:none;">
        <input class="MemberFees_TigerProject" data-val="true" data-val-number="The field MemberFees_TigerProject must be a number." data-val-required="The MemberFees_TigerProject field is required." id="MemberFees_TigerProject0" name="[0].MemberFees_TigerProject" type="text" value="0">
    </td>
    <td style="display:none;">
        <input class="MemberFees_Surcharge" data-val="true" data-val-number="The field MemberFees_Surcharge must be a number." data-val-required="The MemberFees_Surcharge field is required." id="MemberFees_Surcharge0" name="[0].MemberFees_Surcharge" type="text" value="0">
    </td>
    <td style="display:none;">
        <input class="CameraFees_TigerProject" data-val="true" data-val-number="The field CameraFees_TigerProject must be a number." data-val-required="The CameraFees_TigerProject field is required." id="CameraFees_TigerProject0" name="[0].CameraFees_TigerProject" type="text" value="0">
    </td>
    <td style="display:none;">
        <input class="CameraFees_Surcharge" data-val="true" data-val-number="The field CameraFees_Surcharge must be a number." data-val-required="The CameraFees_Surcharge field is required." id="CameraFees_Surcharge0" name="[0].CameraFees_Surcharge" type="text" value="0">
    </td>*@
    @*<td style="display:none;">
        <input class="TRDF" data-val="true" data-val-number="The field TRDF must be a number." data-val-required="The TRDF field is required." id="TRDF0" name="[0].TRDF" type="text" value="0">
        <input class="BoardingVehicleFee" data-val="true" data-val-number="The field BoardingVehicleFee must be a number." data-val-required="The BoardingVehicleFee field is required." id="BoardingVehicleFee0" name="[0].BoardingVehicleFee" type="text" value="0">
        <input class="BoardingVehicleFeeGSTPercentage" data-val="true" data-val-number="The field BoardingVehicleFeeGSTPercentage must be a number." data-val-required="The BoardingVehicleFeeGSTPercentage field is required." id="BoardingVehicleFeeGSTPercentage0" name="[0].BoardingVehicleFeeGSTPercentage" type="text" value="0">
        <input class="BoardingVehicleFeeGSTAmount" data-val="true" data-val-number="The field BoardingVehicleFeeGSTAmount must be a number." data-val-required="The BoardingVehicleFeeGSTAmount field is required." id="BoardingVehicleFeeGSTAmount0" name="[0].BoardingVehicleFeeGSTAmount" type="text" value="0">
        <input class="BoardingGuideFee" data-val="true" data-val-number="The field BoardingGuideFee must be a number." data-val-required="The BoardingGuideFee field is required." id="BoardingGuideFee0" name="[0].BoardingGuideFee" type="text" value="0">
        <input class="BoardingGuideFeeGSTPercentage" data-val="true" data-val-number="The field BoardingGuideFeeGSTPercentage must be a number." data-val-required="The BoardingGuideFeeGSTPercentage field is required." id="BoardingGuideFeeGSTPercentage0" name="[0].BoardingGuideFeeGSTPercentage" type="text" value="0">
        <input class="BoardingGuideFeeGSTAmount" data-val="true" data-val-number="The field BoardingGuideFeeGSTAmount must be a number." data-val-required="The BoardingGuideFeeGSTAmount field is required." id="BoardingGuideFeeGSTAmount0" name="[0].BoardingGuideFeeGSTAmount" type="text" value="0">
        <input class="Vehicle_TRDF" data-val="true" data-val-number="The field Vehicle_TRDF must be a number." data-val-required="The Vehicle_TRDF field is required." id="Vehicle_TRDF0" name="[0].Vehicle_TRDF" type="text" value="0">
        <input class="GuidFee_TRDF" data-val="true" data-val-number="The field GuidFee_TRDF must be a number." data-val-required="The GuidFee_TRDF field is required." id="GuidFee_TRDF0" name="[0].GuidFee_TRDF" type="text" value="0">
    </td>*@
</tr>
 
