@model IList<FMDSS.Models.BookOnlineTicket.TicketData>
@{
    var captchaPrefix = ViewBag.CaptchaPrefix;
    List<FMDSS.Models.BookOnlineTicket.DisplayColumn> displayColumn = null;
    if (ViewBag.DisplayColumn != null)
    {
        displayColumn = ViewBag.DisplayColumn;
    }
}
<style type="text/css">
    .slno {
        width: 80% !important;
        text-align: center;
    }

    .error {
        border: 1px solid red;
    }

    .errortext {
        color: red;
    }

    .table-responsive {
        display: block;
        overflow-x: auto;
    }
</style>
<input type="hidden" value="@ViewBag.totalRows" id="hdntotalRows" />

<div class="col-lg-12 pad">
    <h4 id="hdMember" style="">Member Details</h4>
    <span id="hdmessage" style="" class="mandatory">
        Please carry original photo ID at the time of entry. Any wrong Id will be treated as fake booking and will be prosecuted as per Law.
    </span>
    <br> <div id="hdGSTmessage" style="color:#337ab7;">  </div>

</div>
@{
    var GenderType = new SelectList(new[]
        {
        new {ID="1", Name="Male"},
        new {ID="2", Name="Female"},
        new {ID="3", Name="Transgender"}
    },
        "ID", "Name");

}
<div class="form-group un-bold">
    <table id="tblMemberInfo" class="table table-striped table-bordered table-hover table-responsive" style="max-height: 300px;">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Nationality</th>
                <th>IDType</th>
                <th>IDNo</th>
                @if (displayColumn != null)
                {
                    if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.CamersFee && p.ItemId == 5)) //5 = Video Camera Fees
                    {
                        <th>No of Video Camera</th>
                        <th>Video Camera Fees (INR)</th>
                    }
                    if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.CamersFee && p.ItemId == 4)) //4 = Still Camera Fees
                    {
                        <th>No of Still Camera</th>
                        <th>Still Camera Fees (INR)</th>
                    }
                    if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.BookingFee && p.ItemId == 0)) //4 = Still Camera Fees
                    {
                        <th>Fees Per Member (INR)</th>
                    }
                    if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.VehicleFee && p.ItemId == 0)) //4 = Still Camera Fees
                    {
                        <th>Vehicle Fees (INR)</th>
                    }
                    if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.GuideFee && p.ItemId == 0)) //4 = Still Camera Fees
                    {
                        <th>Guide Fees (INR)</th>
                    }
                    <th>Total Amount (INR)</th>
                }

            </tr>
        </thead>
        <tbody id="tbdMemberInfo">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr class="trRow_@i">
                    <td style="width:10%!important;">
                        @(i + 1).
                    </td>
                    <td>@Html.TextBoxFor(x => x[i].Name, new { @class = "abc_" + i }) </td>
                    <td>
                        @Html.DropDownListFor(x => x[i].Gender, GenderType,
                           "--Select--", new { @class = "abc_" + i, @title = "Gender" })
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x[i].VisitorTypeId, new SelectList(ViewBag.VisitorType, "Value", "Text"),
                                "--Select--", new { @title = "Nationality", @class = "cnationality abc_" + i })
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x[i].IDType, new SelectList(ViewBag.IDType, "Value", "Text"), "--Select--", new { @class = "cidtype abc_" + i, @title = "Id Type" })
                    </td>
                    <td>@Html.TextBoxFor(x => x[i].IDNo, new { @class = "cidno abc_" + i }) </td>
                    @if (displayColumn != null)
                    {
                        if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.CamersFee && p.ItemId == 5)) //5 = Video Camera Fees
                        {
                            <td>@Html.TextBoxFor(x => x[i].NofVideoCamera, new { @class = "slno videocamera" }) </td>
                            <td align="right" data-fee="0" id="VideoCameraAmount">
                                0.00
                            </td>
                        }
                        if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.CamersFee && p.ItemId == 4)) //4 = Still Camera Fees
                        {
                            <td>@Html.TextBoxFor(x => x[i].NoOfStillCamera, new { @class = "slno stillcamera" }) </td>
                            <td align="right" data-fee="0" id="StillCameraAmount">
                                0.00
                            </td>
                        }
                        if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.BookingFee && p.ItemId == 0)) //4 = Still Camera Fees
                        {
                            <td align="right" id="MemberFees">
                                0.00
                            </td>
                        }

                        if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.VehicleFee && p.ItemId == 0)) //4 = Still Camera Fees
                        {
                            <td align="right" id="VehicleFees">
                                0.00
                            </td>
                        }

                        if (displayColumn.Any(p => p.ItemParent == FMDSS.ItemParent.GuideFee && p.ItemId == 0)) //4 = Still Camera Fees
                        {
                            <td align="right" id="GuideFees">
                                0.00
                            </td>
                        }
                    }
                    <td align="right" id="TotalAmount">
                        0.00
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (ViewBag.BookingType == FMDSS.BookingType.OnlineCitizenBooking)
{
    <div class="col-lg-12 un-bold" style="clear:both">
        <div class="capt">
            <img alt="Captcha" id="imgCaptcha" src="@Url.Content("~/Captcha/Generate?p=" + captchaPrefix)" />
            <p>
                <input type="text" id="txtInput" name="captchavalue" style="float:left" />
                <button type="button" id="refresh" onclick="Captcha();"><i class="fa fa-refresh fa-spin fa-fw refrs"></i></button>
                <span class="errortext" id="captchaError"></span>
            </p>
        </div>
    </div>
}
<div class="col-lg-12 un-bold" style="clear:both">
    <div class="form-group" id="btn-cont1">
        <label> &nbsp;</label>
        <button type="button" class="btn btn-success" value="Submit" id="btn_Submit">Submit</button>
        <button type="button" id="btnCancel" class="btn btn-danger">Cancel</button>
    </div>
</div>

<script type="text/javascript">

    function Captcha() {
        $("#imgCaptcha").attr("src", RootUrl + "Captcha/Generate?p=@captchaPrefix&d=" + new Date());
    }

    $(document).ready(function () {
        
        $('#btn_Submit').on('click', function () {
            $('.error').each(function () { $(this).removeClass('error'); }); //clear all error class

            if ($(".ddlVehicle").is(":visible") && ($(".ddlVehicle").val() == "" || $(".ddlVehicle").val() == "0")) {
                $(".ddlVehicle").addClass("error");
            }

            if ($(".ddlDate").is(":visible") && $(".ddlDate").val().trim().length == 0) {
                $(".ddlDate").addClass("error");
            }

            if ($(".ddlZone").is(":visible") && ($(".ddlZone").val() == "" || $(".ddlZone").val() == "0")) {
                $(".ddlZone").addClass("error");
            }

            if ($(".ddlShift").is(":visible") && ($(".ddlShift").val() == "" || $(".ddlShift").val() == "0")) {
                $(".ddlShift").addClass("error");
            }

            $("#tbdMemberInfo > tr").each(function (i) {   // add error class those name have value and element blank
                if ($(".abc_" + i).first().val().trim().length > 0) {
                    $(".abc_" + i).each(function () {
                        if ($(this).val().trim().length < 1 || $(this).val().trim() === '0') {
                            $(this).addClass('error');
                        }
                    });
                }
            });
            if ($('.error').length > 0) {
                $('.error').first().focus();
                return false;
            }

            if ($('#txtInput').val() == '') {
                $("#captchaError").html('Enter valid captcha');
                $('#txtInput').addClass("error");
                $('#txtInput').focus();
                return false;
            }

            if ($('.error').length < 1) {
                $('form').submit();
                return true;
            }
        });

        $('.cnationality').on('change', getFeeData).on('change', idHide);
        function idHide () {            
            var eleIdType = $(this).parents('tr').find('.cidtype');
            if ($(this).val() == 2) {
                eleIdType.children('option').hide();
                eleIdType.children('option[value^=1]').show()
            } else { eleIdType.children('option').show(); }

        }
        $('.videocamera').on('change', function () { CalculateFees($(this).parents('tr')) });
        $('.stillcamera').on('change', function () { CalculateFees($(this).parents('tr')) });

    });
    //Get server Date fro Datepicker
    function getFeeData() {
        var PlaceId = $(".ddlPlace option:selected").val();
        var VehicleId = $(".ddlVehicle option:selected").val();
        var VisitorTypeId = $(this).val();       
        var $rowObj = $(this).parents('tr');
        var ids = { placeid: PlaceId, vehicleid: VehicleId, visitortypeid: VisitorTypeId };
        $.ajax({
            url: RootUrl + 'NationalPark/getFeeByVisitor',
            type: 'POST',
            dataType: 'json',
            data: ids,
            success: function (data) {
                $rowObj.find('#VideoCameraAmount').attr("data-fee", data[0].VideoCamereFees);
                $rowObj.find('#StillCameraAmount').attr("data-fee", data[0].StillCameraFee);

                $rowObj.find('#MemberFees').html(parseFloat(data[0].MemberFee).toFixed(2));
                $rowObj.find('#VehicleFees').html(parseFloat(data[0].VehicleFees).toFixed(2));
                $rowObj.find('#GuideFees').html(parseFloat(data[0].GuideFee).toFixed(2));
                CalculateFees($rowObj);
            }
        });
    }

    function CalculateFees($rowObj) {
        var nation = $rowObj.find('.cnationality').val();
        if (nation > 0) {
            var cameraFee = $rowObj.find('#VideoCameraAmount').attr("data-fee");
            var StillcameraFee = $rowObj.find('#StillCameraAmount').attr("data-fee");

            var noOfCamera = $rowObj.find('.videocamera').val();
            var totalCamerafee = parseFloat(noOfCamera * cameraFee);

            var noOfStillCamera = $rowObj.find('.stillcamera').val();
            var totalStillCamerafee = parseFloat(noOfStillCamera * StillcameraFee);

            $rowObj.find('#VideoCameraAmount').html(totalCamerafee.toFixed(2));
            $rowObj.find('#StillCameraAmount').html(totalStillCamerafee.toFixed(2));

            var MemberFees = isNaN(parseFloat($rowObj.find('#MemberFees').html())) ? 0 : parseFloat($rowObj.find('#MemberFees').html());
            var VehicleFees = isNaN(parseFloat($rowObj.find('#VehicleFees').html())) ? 0 : parseFloat($rowObj.find('#VehicleFees').html());
            var GuideFees = isNaN(parseFloat($rowObj.find('#GuideFees').html())) ? 0 : parseFloat($rowObj.find('#GuideFees').html());
            totalCamerafee = isNaN(totalCamerafee) ? 0 : totalCamerafee;
            totalStillCamerafee = isNaN(totalStillCamerafee) ? 0 : totalStillCamerafee;

            $rowObj.find('#TotalAmount').html(parseFloat(MemberFees + VehicleFees + totalCamerafee + totalStillCamerafee + GuideFees).toFixed(2));
        }
    }

    function removeSpaces(string) {
        return string.split(' ').join('');
    }
</script>
