
@model FMDSS.Models.Encroachment.ViewModel.EncroacherDetailsView

<script type="text/javascript">
    $(function () {
        $('footer.foot-inn').hide();
    })
</script>
 <div class="col-lg-6">
    <div class="form-group">
        <label>Aadhar/Janaadhar: @*<span class="mandatory">*</span>*@</label>
        @Html.DropDownListFor(x => x.AadharOrBhamasha,
                                    new List<SelectListItem>
                                    {   new SelectListItem { Text = "--Select--"},
                                        new SelectListItem { Text = "Not Applicable",Selected=true, Value = "Not Applicable"},
                                        new SelectListItem { Text = "Aadhar", Value = "Aadhar"},
                                        new SelectListItem { Text = "Janaadhar", Value = "Janaadhar"},
                                    }, new { @class = "form-control", id = "AadharOrBhamasha", name = "AadharOrBhamasha" })
        @*<div id="errJFMC" class="alert-danger1">@Html.ValidationMessageFor(x => x.AadharOrBhamasha)</div>*@
    </div>
</div>
<div class="col-lg-6 Aadhar" style="display:none">
    <div class="form-group">
        <label>Encroacher Id: <span class="mandatory">*</span></label>
        @Html.TextBoxFor(x => x.Encroacher_Aadhar, new { @class = "form-control", @id = "Encroacher_Aadhar", name = "Encroacher_Aadhar", maxlength = "12" })
        <div id="errAadhar" class="alert-danger1">@Html.ValidationMessageFor(x => x.Encroacher_Aadhar)</div>
    </div>
</div>


<div class="col-lg-6 Bhamashah" style="display:none">
    <div class="form-group">
        <label>Encroacher Id: <span class="mandatory">*</span></label>
        @Html.TextBoxFor(x => x.Encroacher_Bhamashah, new { @class = "form-control", @id = "Encroacher_Bhamashah", name = "Encroacher_Bhamashah", maxlength = "12" })
        <div id="errBhama" class="alert-danger1">@Html.ValidationMessageFor(x => x.Encroacher_Bhamashah)</div>
    </div>
</div>


@*<div class="col-lg-2 Bhamashah" style="display:none">
    <div class="form-group">
        <label><span class="mandatory"></span></label>
        <button type="button" class="btn btn-success" title="Save" name="Command" value="Get Details" id="GetDetails">
            <i class="fa fa-plus"></i> Get Details
        </button>
    </div>
</div>*@

    <div class="col-lg-6">
        <div class="form-group">
            <label>Encroacher Name: <span class="mandatory">*</span></label>
            @Html.TextBoxFor(x => x.Encroacher_Name, new { @class = "form-control WitnessName", @id = "Encroacher_Name", name = "WitnessName" })
            <div id="errJFMC" class="alert-danger1">@Html.ValidationMessageFor(x => x.Encroacher_Name)</div> 
        </div>
    </div>       

<div class="col-lg-6">
    <div class="form-group">
        <label>Encroacher Father Name: <span class="mandatory">*</span></label>
        @Html.TextBoxFor(x => x.Encroacher_FatherName, new { @class = "form-control", @id = "Encroacher_FatherName", name = "Encroacher_FatherName" })
        <div id="errJFMC" class="alert-danger1">@Html.ValidationMessageFor(x => x.Encroacher_FatherName)</div>
    </div>
</div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Encroacher Address: <span class="mandatory">*</span></label>
            @Html.TextBoxFor(x => x.Encroacher_Address, new { @class = "form-control ResidentialAddress1", @id = "Encroacher_Address", name = "ResidentialAddress1" })
            <div id="errJFMC" class="alert-danger1">@Html.ValidationMessageFor(x => x.Encroacher_Address)</div> 
        </div>
    </div>     


    @*<div class="col-lg-6">
        <div class="form-group">
            <label>Aadhar/Bhamasha: <span class="mandatory">*</span></label>
            @Html.DropDownListFor(x => x.AadharOrBhamasha, 
            new List<SelectListItem>
            {
                new SelectListItem { Text = "--Select--", Value = "0"},
                new SelectListItem { Text = "Aadhar", Value = "Aadhar"},
                new SelectListItem { Text = "Bhamasha", Value = "Bhamasha"},
            },
             new { @class = "form-control", @id = "AadharOrBhamasha", name = "AadharOrBhamasha" })
            <div id="errJFMC" class="alert-danger1">@Html.ValidationMessageFor(x => x.AadharOrBhamasha)</div> 
        </div>
    </div> 
 <div class="col-lg-6 Aadhar" style="display:none">
    <div class="form-group">
        <label>Encroacher Aadhar: <span class="mandatory">*</span></label>
        @Html.TextBoxFor(x => x.Encroacher_Aadhar, new { @class = "form-control", @id = "Encroacher_Aadhar", name = "Encroacher_Aadhar" })
        <div id="errJFMC" class="alert-danger1">@Html.ValidationMessageFor(x => x.Encroacher_Aadhar)</div> 
    </div>
</div>    
    <div class="col-lg-6 Bhamashah" style="display:none">
    <div class="form-group">
        <label>Encroacher Bhamashah: <span class="mandatory">*</span></label>
        @Html.TextBoxFor(x => x.Encroacher_Bhamashah, new { @class = "form-control", @id = "Encroacher_Bhamashah", name = "Encroacher_Bhamashah" })
        <div id="errJFMC" class="alert-danger1">@Html.ValidationMessageFor(x => x.Encroacher_Bhamashah)</div> 
    </div>
</div>*@    


