@model IEnumerable<FMDSS.Models.Rescue.NGOModel>
@*@model FMDSS.Models.Rescue.NGOModel*@

@{
    ViewBag.Title = "NGOIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" style="margin-right: 8%; margin-bottom: 12px;"  class="btn btn-success pull-right" id="btnAddModel" onclick="@("window.location.href='" + @Url.Action("AddNGO", "Rescue",new {RoleName= ViewBag.CitizenRolesEnc}) + "'");" data-target="#myModal" data-toggle="modal" title="Create Registration">
    <i class="fa fa-plus"></i> Add NGO
</button>
<div class="col-lg-9">
    <div class="panel panel-default">
        <div class="panel-body"> 
            @Html.Partial("_ErrorMsg")
            <div class="dataTable_wrapper">
                <div id="tbl">
                    <table class="table table-striped table-bordered table-hover" id="tblNGO">
                        <thead>
                            <tr>
                                <th width="3%">Reg No</th>
                                <th width="3%">NGO Name</th>
                                <th width="3%">Circle</th>
                                <th width="3%">Division</th>
                                <th width="3%">Range</th>
                                <th width="3%">Animal Category</th>
                                <th width="3%">Animal Name</th> 
                                <th width="3%">Mobile Number</th>
                                <th width="3%">Pin Code</th>
                                <th width="3%">Inserted By</th>
                                <th width="3%">Action</th> 
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td width="3%">@Html.DisplayFor(model => item.RegNumber)</td>
                                <td width="3%">@Html.DisplayFor(model => item.NameofVendor)</td>
                                <td width="3%">@Html.DisplayFor(model => item.CIRCLE_NAME)</td>
                                <td width="3%">@Html.DisplayFor(model => item.DIV_NAME)</td> 
                                <td width="3%">@Html.DisplayFor(model => item.RANGE_NAME)</td>
                                <td width="3%">@Html.DisplayFor(model => item.AnimalName)</td>
                                <td width="3%">@Html.DisplayFor(model => item.ChildAnimalName)</td>
                                <td width="3%">@Html.DisplayFor(model => item.MobileNumber)</td>
                                <td width="3%">@Html.DisplayFor(model => item.PinCode)</td> 
                                <td width="3%">@Html.DisplayFor(model => item.InsertedBy)</td> 
                                <td width="3%"> 
                                    @Html.ActionLink("Edit", "AddNGO", new { regNumber = item.RegNumber }, new { title = "Edit" })
                                    @Html.ActionLink("DeActivate", "DeActivateNGO", new { ObjectID = item.WaterHoleVendorDetailsID }, new { title = "DeActivate" })
                                </td>

                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblNGO').DataTable();
        });
    </script>
    </div>


