@{
    ViewBag.Title = "TicketingFees";
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString()); // "~/Views/Shared/_SuperAdmin.cshtml";
}
@model IEnumerable<FMDSS.Models.Master.Places>

   
<script type="text/javascript" src="~/js/jquery.min.js"></script>


   
     <script type="text/javascript">
        var RootUrl = '@Url.Content("~/")';

        $(document).ready(function () {

            $('#tbltemp').DataTable({
                responsive: true
            });

        });

        $(document).ready(function () {
            $("#Import").click(function () {
                //  alert('Import');
                var form = $("form#myForm");
                form.attr("action", "@Url.Action("ImportData", "Master", new { name = "Place"})");
                form.submit();
            });

            $("#Export").click(function () {

                 alert('Export');
                var form = $("form#myForm");
                form.attr("action", "@Url.Action("ExportData", "Master", new { name ="Place"})");
                form.submit();
            });
        });


        function CallPlaceData(id) {
            // alert(id);

            $.ajax({
                type: 'GET',
                url: "../Master/GetPlace?PlaceID=" + id,
                dataType: 'html',
                success: function (data) {
                    $('#modelPlace').html(data);
                },
                error: function (ex) {
                    alert(ex.error);
                }
            });

        };

        function postRequestIsOnlineBookingView(id) {
            var r = confirm('Are you sure you wish to change current status of Record ?');
            if (r == false) {
                return false;
            }

            //var id = $(this).closest("tr").find('td:eq(0)').text();
            /// var id = $(this).parents('tr').find('input[type="hidden"]').val();

            var Status = $('#' + id).is(":checked");
            $.ajax({
                type: 'POST',
                url: RootUrl + 'Master/UpdateMasterRecordStatus', // we are calling json method
                dataType: 'json',
                data: { ID: id, STATUS: Status, MasterType: 'PlacesForOnlineBooking' },
                success: function (circle) {
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }

            });
        }

        function postRequestIsCampingView(id) {
            var r = confirm('Are you sure you wish to change current status of Record ?');
            if (r == false) {
                return false;
            }

            //var id = $(this).closest("tr").find('td:eq(0)').text();
            /// var id = $(this).parents('tr').find('input[type="hidden"]').val();

            var Status = $('#' + id).is(":checked");
            $.ajax({
                type: 'POST',
                url: RootUrl + 'Master/UpdateMasterRecordStatus', // we are calling json method
                dataType: 'json',
                data: { ID: id, STATUS: Status, MasterType: 'PlacesForCamping' },
                success: function (circle) {
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }

            });
        }

        function postRequestIsResearchView(id) {
            var r = confirm('Are you sure you wish to change current status of Record ?');
            if (r == false) {
                return false;
            }

            //var id = $(this).closest("tr").find('td:eq(0)').text();
            /// var id = $(this).parents('tr').find('input[type="hidden"]').val();

            var Status = $('#' + id).is(":checked");
            $.ajax({
                type: 'POST',
                url: RootUrl + 'Master/UpdateMasterRecordStatus', // we are calling json method
                dataType: 'json',
                data: { ID: id, STATUS: Status, MasterType: 'PlacesForResearch' },
                success: function (circle) {
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }

            });
        }

        function postRequest(id) {
            var r = confirm('Are you sure you wish to change current status of Record ?');
            if (r == false) {
                return false;
            }

            //var id = $(this).closest("tr").find('td:eq(0)').text();
            /// var id = $(this).parents('tr').find('input[type="hidden"]').val();

            var Status = $('#' + id).is(":checked");
            $.ajax({
                type: 'POST',
                url: RootUrl + 'Master/UpdateMasterRecordStatus', // we are calling json method
                dataType: 'json',
                data: { ID: id, STATUS: Status, MasterType: 'Places' },
                success: function (circle) {
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }

            });
        }

    </script>

    @*@using (Html.BeginForm("ImportData", "Master", FormMethod.Post, new { id = "myForm", enctype = "multipart/form-data" }))
        {*@

      <div id="page-wrapper-inn">
                          <div class="col-lg-12 pad">
                              <h1 class="page-header">Place</h1>

                              @if (ViewBag.RecordStatus != -1)
                              {
                                  if (ViewBag.RecordStatus == 0)
                                  {  
                                      <div id="divError" class="alert alert-danger"><i class="fa fa-exclamation-triangle fa-fw"></i>Duplicate Record Found</div>}
                                  else if (ViewBag.RecordStatus == 1)
                                  {  <div id="divSuccess" class="alert alert-success"><i class="fa fa-thumbs-o-up fa-fw"></i>Record Successfully Submit</div>}
                                 
                              }
                              
                              </div>                      
                                  <div class="row">
                                      <div class="col-lg-4 pull-right" id="place">
                                          @*<input type="submit" class="btn btn-success" value="Export to Excel" name="ExportData" id="Export" formmethod="post" />*@
                                          <a class="btn btn-success" style="display:none" title="Import to Excel" target="_blank" href=""><i class="fa fa-file"></i> Import to Excel</a>
                                          <a class="btn btn-success" title="Export to Excel" target="_blank" href="ExportData?name=Places"><i class="fa fa-download"></i> Export to Excel</a>
                                          @*<input class="btn btn-success" type="file" name="file" id="File5" />*@
                                          @*<input class="btn btn-success" type="submit" name="ImportData" id="Import" value="OK" />*@

                                          <button type="button" class="btn btn-success" id="btnAddModel" data-target="#myModal" data-toggle="modal" onclick="return CallPlaceData(0);" title="Create Place">
                                              <i class="fa fa-plus"></i> ADD
                                          </button>
                                      </div>                                    
                                      <div class="col-lg-12">
                                          <div class="panel panel-default">
                                              <div class="panel-body">
                                                  <div class="dataTable_wrapper">
                                                      <div id="tbl" class="table-responsive">
                                                          <table id="tbltemp" class="table table-striped table-bordered table-hover table-responsive">

                                                              <thead>
                                                                  <tr>
                                                                      <th style="width:8%;">Sr No.</th>
                                                                      <th width="20%">District Name</th>
                                                                      <th width="20%">PlaceName</th>
                                                                      <th>Category</th>
                                                                      @*<th style="width:5%;">Safari</th>*@
                                                                      <th style="width:20%;">Ticket Allocated Per Shift</th>

                                                                      @*<th>Online Booking Status</th>
                                                                      <th>Camping Status</th>
                                                                    


                                                                      <th>Research Status</th>*@
                                                                      <th>Status</th>
                                                                      <th>Action</th>
                                                                  </tr>
                                                              </thead>
                                                              <tbody>

                                                                  @foreach (var item in Model)
                                                                  {

                                                                      <tr>
                                                                          <td>
                                                                              @Html.DisplayFor(model => item.Index)
                                                                              @Html.HiddenFor(model => item.PlaceID)

                                                                          </td>
                                                                          <td>
                                                                              @Html.DisplayFor(model => item.DisNAme)
                                                                          </td>
                                                                          <td>
                                                                              @Html.DisplayFor(model => item.PlaceName)

                                                                          </td>
                                                                          <td>
                                                                              @Html.DisplayFor(model => item.Category)

                                                                          </td>
                                                                          @*<td>
                                                                              @Html.DisplayFor(model => item.SafariAvailability)

                                                                          </td>*@
                                                                          <td>
                                                                              @Html.DisplayFor(model => item.TicketAllocatedPerShift)

                                                                          </td>
                                                                          @*<td>

                                                                              <input onclick='return postRequestIsOnlineBookingView(@item.PlaceID)' type="checkbox" id='@item.PlaceID' value="true" @(item.IsOnlineBookingView ? "checked=\"checked\"" : "") />
                                                                          </td>
                                                                          <td>

                                                                              <input onclick='return postRequestIsCampingView(@item.PlaceID)' type="checkbox" id='@item.PlaceID' value="true" @(item.IsCampingView ? "checked=\"checked\"" : "") />
                                                                          </td>
                                                                          <td>

                                                                              <input onclick='return postRequestIsResearchView(@item.PlaceID)' type="checkbox" id='@item.PlaceID' value="true" @(item.IsResearchView ? "checked=\"checked\"" : "") />
                                                                          </td>*@
                                                                          <td>

                                                                              <input onclick='return postRequest(@item.PlaceID)' type="checkbox" id='@item.PlaceID' value="true" @(item.IsactiveView ? "checked=\"checked\"" : "") />
                                                                          </td>


                                                                          <td colspan="2">

                                                                              <button type="button" class="btn btn-warning btn-circle EditDepot" data-toggle="modal" data-target="#myModal" title="Edit" onclick="return CallPlaceData(@item.PlaceID);">
                                                                                  <i class="fa fa-edit"></i>
                                                                              </button>

                                                                              <a class="btn btn-danger btn-circle" onclick="return confirm('Are you sure you wish to delete this record?');" href='@Url.Action("DeletePlaces", "Master", new { id = item.PlaceID })' style="display:none">
                                                                                  <i class="fa fa-times"></i>
                                                                              </a>
                                                                          </td>
                                                                      </tr>

                                                                  }
                                                              </tbody>
                                                          </table>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="modal fade" id="myModal" role="dialog">
                                              <div class="modal-dialog modal-lg" id="modelPlace">
                                                  <!-- Modal content-->


                                              </div>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                              @*}*@
