@{
    ViewBag.Title = "ForesterDashboard";
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString()); // "~/Views/Shared/Forestlayout.cshtml";
}
@model FMDSS.Models.ForesterAction.ForesterDashboardSummary

<script src="~/js/jquery.min.js"></script>


<div id="page-wrapper">
    <div class="col-lg-12 rgt">
        <h1 class="page-header">My Dashboard <!--<span class="desh-small">| Forest official, Dy. Conservator of Forests (IT)</span>--></h1>

        <div class="row" id="tabcontrl">
            <!-- Citizen Services -->
            @if (Model.CitizenModule == true)
            {
                <div class="col-lg-4">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <i class="fa fa-star fa-fw"></i> Citizen Services
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive request-id">

                                <!--work progress start-->
                                <section class="panel">
                                    <table class="table table-hover personal-task">
                                        <tbody>
                                            <tr>
                                                <td>My Action</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Citizen"), Tab = Encryption.encrypt("Tab1") })"><span id="CitizenMyAction" class="badge bg-primary ">@Model.CitizenMyAction</span></a></td>
                                            </tr>

                                            <tr>
                                                <td>Pending Requests</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Citizen"), Tab = Encryption.encrypt("Tab2") })"><span id="CitizenPendingRequests" class="badge bg-yellow">@Model.CitizenPendingRequests</span></a></td>
                                            </tr>

                                            <tr>
                                                <td>To Be Assign</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Citizen"), Tab = Encryption.encrypt("Tab3") })"><span id="CitizenPendingAtDFOorDCF" class="badge bg-green">@Model.CitizenPendingAtDFOorDCF</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <!--work progress end-->
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            }
            <!-- /.Citizen Services -->
            <!-- Forest Development -->
            @if (Model.DevelopmentModule == true)
            {
                <div class="col-lg-4">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <i class="fa fa-tree fa-fw"></i> Forest Development
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive request-id">

                                <!--work progress start-->
                                <section class="panel">
                                    <table class="table table-hover personal-task">
                                        <tbody>
                                            <tr>
                                                <td>My Action</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Development") })"><span id="DevelopmentMyAction" class="badge bg-primary"> @Model.DevelopmentMyAction</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>Pending Requests</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Development") })"><span id="DevelopmentPendingRequests" class="badge bg-yellow"> @Model.DevelopmentPendingRequests</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>My Transactions</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Development") })"><span id="DevelopmentMyTransactions" class="badge bg-green"> @Model.DevelopmentMyTransactions</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <!--work progress end-->


                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            }

            <!-- /.Forest Development -->
            <!--  Forest Production -->
            @if (Model.ProductionModule == true)
            {

                <div class="col-lg-4">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <i class="fa fa-gear fa-fw"></i> Forest Production
                        </div>

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive request-id">

                                <!--work progress start-->
                                <section class="panel">
                                    <table class="table table-hover personal-task">
                                        <tbody>
                                            <tr>
                                                <td>My Action</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Production") })"><span id="ProductionMyAction" class="badge bg-primary"> @Model.ProductionMyAction </span></a></td>
                                            </tr>
                                            <tr>
                                                <td>Pending Requests</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Production") })"><span id="ProductionPendingRequests" class="badge bg-yellow">@Model.ProductionPendingRequests</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>My Transactions</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Production") })"><span id="ProductionMyTransactions" class="badge bg-green">@Model.ProductionMyTransactions</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <!--work progress end-->


                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            }
            <!-- /. Forest Production-->
            <!-- Forest Protection -->
            @if (Model.ProtectionModule == true)
            {
                <div class="col-lg-4">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <i class="fa fa-umbrella fa-fw"></i> Forest Protection
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive request-id">

                                <!--work progress start-->
                                <section class="panel">
                                    <table class="table table-hover personal-task">
                                        <tbody>
                                            <tr>
                                                <td>My Action</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Protection") })"><span id="ProtectionMyAction" class="badge bg-primary">@Model.ProtectionMyAction</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>Pending Requests</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Protection") })"><span id="ProtectionPendingRequests" class="badge bg-yellow">@Model.ProtectionPendingRequests</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>My Transactions</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Protection") })"><span id="ProtectionMyTransactions" class="badge bg-green">@Model.ProtectionMyTransactions</span></a></td>
                                            </tr>
                                            <tr>

                                                @*<td colspan="2" ><button type="button" class="btn btn-info" id="btnAddModel" data-target="#myModal" data-toggle="modal" onclick="return CallPlaceData(0);" title="Create Place">
                                                View Details
                                            </button></td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <!--work progress end-->


                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            }
            <!-- /.Forest Protection-->
            <!-- Finance Management -->
            @if (Model.FinanceModule == true)
            {
                <div class="col-lg-4">
                    <div class="box box-red">
                        <div class="box-header with-border">
                            <i class="fa fa-star fa-fw"></i> Finance Management
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive request-id">

                                <!--work progress start-->
                                <section class="panel">
                                    <table class="table table-hover personal-task">
                                        <tbody>
                                            <tr>
                                                <td>My Action</td>
                                                <td><a href=""><span id="FinanceMyAction" class="badge bg-primary">0</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>Pending Requests</td>
                                                <td><a href=""><span id="FinancePendingRequests" class="badge bg-yellow">0</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>My Transactions</td>
                                                <td><a href=""><span id="FinanceMyTransactions" class="badge bg-green">0</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <!--work progress end-->


                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            }
            <!-- /.Finance Management-->
            <!-- My Profile -->
            <!-- Research Request Management -->
            @if (Model.ResearchModule)
            {
                <div class="col-lg-4">
                    <div class="box box-red">
                        <div class="box-header with-border">
                            <i class="fa fa-star fa-fw"></i> Research Request Management
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive request-id">
                                <!--work progress start-->
                                <section class="panel">
                                    <table class="table table-hover personal-task">
                                        <tbody>
                                            <tr>
                                                <td>My Action</td>
                                                <td><a href="@Url.Action("OtherNoc","ForesterAction" )"><span class="badge bg-primary ">@Model.ResearchMyAction</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>Pending Requests</td>
                                                <td><a href="@Url.Action("OtherNoc","ForesterAction")"><span class="badge bg-yellow ">@Model.ResearchPendingRequests</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- /.Research Request Management-->
            <!-- Film suiting  Management -->
            @if (Model.FilmSuitingModule == true)
            {
                <div class="col-lg-4">
                    <div class="box box-red">
                        <div class="box-header with-border">
                            <i class="fa fa-star fa-fw"></i> Film Suiting Management
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive request-id">
                                <!--work progress start-->
                                <section class="panel">
                                    <table class="table table-hover personal-task">
                                        <tbody>
                                            <tr>
                                                <td>My Action</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Citizen"), Tab = Encryption.encrypt("Tab1") })"><span id="CitizenMyAction" class="badge bg-primary ">@Model.FilmSuitingMyAction</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>Pending Requests</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Citizen"), Tab = Encryption.encrypt("Tab1") })"><span id="CitizenMyAction" class="badge bg-yellow ">@Model.FilmSuitingPendingRequests</span></a></td>
                                            </tr>
                                            <tr>
                                                <td>My Transactions</td>
                                                <td><a href="@Url.Action("ForesterAction", "ForesterAction", new { ServiceType = Encryption.encrypt("Citizen"), Tab = Encryption.encrypt("Tab1") })"><span id="CitizenMyAction" class="badge bg-green ">@Model.FilmSuitingMyTransactions</span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
            }

            <!-- Citizen Transit permit Management -->
            <div class="col-lg-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-adjust fa-fw"></i> Citizen Transit Permit
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive request-id">

                            <!--work progress start-->
                            <section class="panel">
                                <table class="table table-hover personal-task">
                                    <tbody>
                                        <tr>
                                            <td>Pending Requests</td>
                                            <td><a href="@Url.Action("TransitPermitdashboardDetails", "ForesterAction", new { id= 1 })"><span id="CitizenTransitPermitPending" class="badge bg-primary ">@Model.CitizenTransitPermitPending</span></a></td>
                                        </tr>

                                        <tr>
                                            <td>Approve Requests</td>
                                            <td><a href="@Url.Action("TransitPermitdashboardDetails", "ForesterAction", new { id= 2 })"><span id="CitizenTransitPermitApprove" class="badge bg-yellow">@Model.CitizenTransitPermitApprove</span></a></td>
                                        </tr>

                                        <tr>
                                            <td>Reject Requests</td>
                                            <td><a href="@Url.Action("TransitPermitdashboardDetails", "ForesterAction", new { id= 3 })"><span id="CitizenTransitPermitReject" class="badge bg-green">@Model.CitizenTransitPermitReject</span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                            <!--work progress end-->
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <!-- /Citizen Transit permit Management -->
            <!-- /.Finance Management-->
            <div class="col-lg-4">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-user fa-fw"></i> My Profile
                    </div>
                    <!-- /.panel-heading -->
                    <section class="panel" id="SkrollThis2">
                        <div class="panel-body">
                            <a href="#" class="task-thumb">
                                <img src="~/DashboardCSSJS/avatar1.jpg" alt="" />
                            </a>
                            <div class="task-thumb-details">
                                <h1><a href="#"> @Html.DisplayFor(model => model.USERDETAILs.Name) </a></h1>
                                <p>@Html.DisplayFor(model => model.USERDETAILs.Desig_Name) </p>
                            </div>
                        </div>
                        <table class="table table-hover personal-task">
                            <tbody>
                                <tr>
                                    <td>Department</td>
                                    <td>@Html.DisplayFor(model => model.USERDETAILs.Department)</td>
                                </tr>
                                <tr>
                                    <td>Office</td>
                                    <td>@Html.DisplayFor(model => model.USERDETAILs.OfficeName)</td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td>@Html.DisplayFor(model => model.USERDETAILs.Roles) </td>
                                </tr>
                                <tr>
                                    <td>Mobile No</td>
                                    <td>@Html.DisplayFor(model => model.USERDETAILs.Mobile)</td>
                                </tr>
                                <tr>
                                    <td>SSO ID</td>
                                    <td>@Html.DisplayFor(model => model.USERDETAILs.Ssoid) </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <!-- /.My Profile-->

            @if (Convert.ToBoolean(ViewData["NurseryInchargeOrNot"]) == true && ViewData["NurseryDashboardDeptUserList"] != null)
            {
                <div class="col-lg-8" id="nurseyInchargeDashboard">
                    @Html.Partial("_DeptUserNurseryTransation", (List<FMDSS.Models.ForestProduction.ProducePurchase>)ViewData["NurseryDashboardDeptUserList"])
                </div>
            }

        </div>
        <!-- /.Row -->
    </div>
    <!-- /.col-lg-12 -->
</div>


<!--<link href="~/DashboardCSSJS/css/bootstrap.min.css" rel="stylesheet">
 Custom styles for this template
<link href="~/DashboardCSSJS/css/mobile.css" rel="stylesheet">
<link href="~/DashboardCSSJS/css/main.css" rel="stylesheet">-->
<link href="~/DashboardCSSJS/css/dashboard/dashboard.css" rel="stylesheet" type="text/css">

<!-- Custom Fonts -->
<link href="~/DashboardCSSJS/css/dashboard/font-awesome.min.css" rel="stylesheet" type="text/css">

@*<script src="~/DashboardCSSJS/js/jquery.min.js" type="text/javascript"></script>*@
@*<script src="~/DashboardCSSJS/js/bootstrap.min.js"></script>*@

<script src="~/DashboardCSSJS/js/dashboard/dashboard.js" type="text/javascript"></script>
<script src="~/DashboardCSSJS/js/dashboard/sidebar.js" type="text/javascript"></script>
<!-- Scroll Bar -->
<script src="~/DashboardCSSJS/js/dashboard/jquery.skroller.js"></script>
<!-- Scroll Bar -->

<script>
    $("#ad-ser").click(function () {
        $("#ad-service").show();
    });

    $("#ser-a").click(function () {
        $("#ser-del").show();
    });

    $("#ad-btn").click(function () {
        $("#ser-a1").show();
        $("#ad-btn").prop('disabled', true);
    });

    $("#del").click(function () {
        $("#ser-del").hide();
        $("#ad-btn").prop('disabled', true);
    });


    //Scroll Bar Start//
    $('#SkrollThis2').skroller({
        height: 160,
        barWidth: 10,
        barColor: '#00c0ef',
        style: 'round',
        padding: 5,
        frameClass: 'skrollerCustomClass'
    });
    //Scroll Bar End//
</script>

<script src="~/DashboardCSSJS/js/jquery.color.min.js"></script>
<script src="~/DashboardCSSJS/js/jquery.animateNumber.min.js"></script>

<script>


    var RootUrl = '@Url.Content("~/")';


    jQuery(document).ready(function () {
        $.noConflict(true);
    });

    setInterval(function () {

        $.ajax({
            type: 'POST',
            url: RootUrl + 'ForesterAction/ForesterDashboardJson',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
  

                $('#CitizenMyAction').animateNumber({ number: data.CitizenMyAction });
                $('#CitizenPendingRequests').animateNumber({ number: data.CitizenPendingRequests });
                $('#CitizenPendingAtDFOorDCF').animateNumber({ number: data.CitizenPendingAtDFOorDCF });

                $('#DevelopmentMyAction').animateNumber({ number: data.DevelopmentMyAction });
                $('#DevelopmentPendingRequests').animateNumber({ number: data.DevelopmentPendingRequests });
                $('#DevelopmentMyTransactions').animateNumber({ number: data.DevelopmentMyTransactions });

                $('#ProductionMyAction').animateNumber({ number: data.ProductionMyAction });
                $('#ProductionPendingRequests').animateNumber({ number: data.ProductionPendingRequests });
                $('#ProductionMyTransactions').animateNumber({ number: data.ProductionMyTransactions });

                $('#ProtectionMyAction').animateNumber({ number: data.ProtectionMyAction });
                $('#ProtectionPendingRequests').animateNumber({ number: data.ProtectionPendingRequests });
                $('#ProtectionMyTransactions').animateNumber({ number: data.ProtectionMyTransactions });

                $('#FinanceMyAction').animateNumber({ number: 0 });
                $('#FinancePendingRequests').animateNumber({ number: 0 });
                $('#FinanceMyTransactions').animateNumber({ number: 0 });

            }
        });



    }, 10000);


</script>


