@model FMDSS.Models.ForestFire.ForestFire_AddDetails
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Fire Date</label>
            <div class="un-bold">@(string.IsNullOrEmpty(Model.FireDateTime) ? "N/A" : Model.FireDateTime)</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Putt Off Time</label>
            <div class="un-bold">@(string.IsNullOrEmpty(Model.PuttOffTime) ? "N/A" : Model.PuttOffTime)</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Total Area Affected</label>
            <div class="un-bold">@(string.IsNullOrEmpty(Model.TotalAreaAffected) ? "N/A" : Model.TotalAreaAffected)</div>
        </div>
    </div>


  
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Forest Loss</label>
            <div class="un-bold">@(string.IsNullOrEmpty(Model.ForestProduceLoss) ? "N/A" : Model.ForestProduceLoss)</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>WildLife Loss</label>
            <div class="un-bold">@(string.IsNullOrEmpty(Model.WildlifeLoss) ? "N/A" : Model.WildlifeLoss)</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Anyother Loss</label>
            <div class="un-bold">@(string.IsNullOrEmpty(Model.AnyotherLoss) ? "N/A" : Model.AnyotherLoss)</div>
        </div>
    </div>
   
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>People Involved</label>
            <div class="un-bold">@(string.IsNullOrEmpty(Model.NoPepoleInvolved) ? "N/A" : Model.NoPepoleInvolved)</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Other Dept Helped</label>
            <div class="un-bold">@(string.IsNullOrEmpty(Model.OtherDeptHelped) ? "N/A" : Model.OtherDeptHelped)</div>
        </div>
    </div>
    @*<div class="col-lg-3">
            <div class="form-group">
                <label>Remarks</label>
                <div class="un-bold">@(string.IsNullOrEmpty(Model.Remarks) ? "N/A" : Model.Remarks)</div>
            </div>
        </div>*@
    <div class="col-lg-4">
        <div class="form-group">
            <label>Image </label>
            @if (string.IsNullOrEmpty(Model.ImagePath))
            {
                <div class="un-bold">N/A</div>
            }
            else
            {
                <div class="un-bold">
                    <a href="/@Model.ImagePath" target="_blank"><i class="fa fa-eye"></i></a>
                </div>
            }
        </div>
    </div>
</div>

