@model List<FMDSS.Models.MIS.MISTicketTransactionDetails>

@if (Model != null)
{
    foreach (var item in Model)
    {
<tr>
    <td>@item.Index</td>
    <td>@item.RequestID</td>
    <td>@item.DateOfBooking</td>
    <td>@item.DateOfVisit</td>
    <td>@item.ZoneName</td>
    <td>@item.Name</td>
    <td>@item.Indian</td>
    <td>@item.NonIndian</td>
    <td>@item.TotalMembers</td>
    <td>@item.CameraForIndian</td>
    <td>@item.CameraForNonIndian</td>

    <td class="rc1">@item.IncomeFromTourismIndianMemberEntryFee</td>
    <td class="rc1">@item.IncomeFromTourismNonIndianMemberEntryFee</td>
    <td class="rc1">@item.IncomeFromTourismGypsyEntryFee</td>
    <td class="rc1">@item.IncomeFromTourismCanterEntryFee</td>
    <td class="rc1">@item.IncomeFromTourismIndianCameraEntryFee</td>
    <td class="rc1">@item.IncomeFromTourismNonIndianCameraEntryFee</td>
    <td class="rc1">@item.IncomeFromTourismIndianHDFDCharge</td>
    <td class="rc1">@item.IncomeFromTourismNonIndianHDFDCharge</td>
    <td class="rc1">@item.TOTALIncomeFromTourism</td>

    <td class="rc2">@item.IncomeFromECODEVIndianMemberEntryFee</td>
    <td class="rc2">@item.IncomeFromECODEVNonIndianMemberEntryFee</td>
    <td class="rc2">@item.IncomeFromECODEVGypsyEntryFee</td>
    <td class="rc2">@item.IncomeFromECODEVCanterEntryFee</td>
    <td class="rc2">@item.IncomeFromECODEVIndianCameraEntryFee</td>
    <td class="rc2">@item.IncomeFromECODEVNonIndianCameraEntryFee</td>
    <td class="rc2">@item.IncomeFromEcoDevIndianHDFdCharge</td>
    <td class="rc2">@item.IncomeFromEcoDevNonIndianHDFdCharge</td>
    <td class="rc2">@item.TOTALIncomeFromECODEV</td>

    <td class="rc3">@item.FoundationIndianMemberEntryFee</td>
    <td class="rc3">@item.FoundationNonIndianMemberEntryFee</td>
    <td class="rc3">@item.FoundationForVehicleEntryFee</td>
    <td class="rc3">@item.FoundationForGuidFee</td>

    <td class="rc3">@item.TOTALFoundation</td>

    <td class="rc4">@item.VehicleRentFees</td>
    <td class="rc4">@item.VehicleRentFeesGSTPercentage</td>
    <td class="rc4">@item.VehicleRentFeesGSTAmount</td>
    <td class="rc4">@item.TOTALVehicleRentFees</td>

    <td class="rc5">@item.GuideFees</td>
    <td class="rc5">@item.GuideFeesGSTPercentage</td>
    <td class="rc5">@item.GuideFeesGSTAmount</td>
    <td class="rc5">@item.TOTALGuideFees</td>

    <td class="rc6">@item.TotalFeeHeadwise</td>
    <td class="rc7">@item.EmitraCharges</td>
    <td class="rc7">@item.TaxOnEmitraCharges</td>
    <td class="rc7">@item.EMitraTotalCharges</td>
    <td class="rc8">@item.TotalPayment</td>
    <td class="rc9">@item.ModeOfBooking</td>

</tr>
    }
}