@model FMDSS.Models.MIS.MISCommonModel
@{
    ViewBag.Title = "Remaining Details";

    //if (Convert.ToString(Session["IsDepartmentalKioskUser"]) == "True")
    //{

    //    Layout = "~/Views/Shared/_Layout.cshtml";
    //}
    //else
    //{
    //    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
    //}
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString()); //
}




<style>
    #tbl {
        overflow-x: auto;
        overflow-y: auto;
        padding: 15px;
        width: 100%;
        height: 400px;
    }
</style>
<script>
    var RootUrl = '@Url.Content("~/")';

    $(document).ready(function () {


        $("dataTables-example").DataTable();

        $('#dataTables-example').DataTable({
            responsive: true
        });
        // date validation ========================================================================
        var currentYear = (new Date).getFullYear();

        var Range = '2008:' + (currentYear + 1)
        $("#FromDate").datepicker({ yearRange: Range, dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, onClose: function (dateText, inst) { $("[id$=auto]").focus(); } });
        var currentDate = new Date();

        $(document).on('keypress', '#FromDate', function (event) {

            event.preventDefault();
            return false;

        });

        $('#FromDate').keydown(function (event)
        { return cancelBackspace(event) });
        function cancelBackspace(event) {
            if (event.keyCode == 8 || event.keyCode == 46) {
                return false;
            }
        }

        // date validation ========================================================================





        $('#Place').change(function (e) {
            $('#PLACE_NAME').val($("#Place option:selected").text());
        });

        $('#SHIFT_TYPE').change(function (e) {

            $('#SHIFTName').val($("#SHIFT_TYPE option:selected").text());

        });


        $('#btn_submit1').click(function (e) {




            if ($('#FromDate').val() == '') {
                $("#errFromDate").css("display", "block");
                $('#errFromDate').focus();
                return false;
            }
            else {
                $("#errFromDate").css("display", "none");
            }



            if ($('option:selected', $('#Place')).index() == 0) {
                $("#errPlace").css("display", "block");
                $('#errPlace').focus();
                return false;
            }
            else {
                $("#errPlace").css("display", "none");
            }


            if ($('option:selected', $('#SHIFT_TYPE')).index() == 0) {
                $("#errSHIFT_TYPE").css("display", "block");
                $('#errSHIFT_TYPE').focus();
                return false;
            }
            else {
                $("#errDuration").css("display", "none");
            }



        });

    });


</script>

<div class="row">
    <div class="col-lg-9 pad">
        <h1 class="page-header"><span>Report : Remaining Seats Zone Wise</span></h1>
    </div>

    @using (Html.BeginForm("CurrentBookingRemainingDetails", "MIS", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Date:<span class="mandatory">*</span></label>
                            @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control common ", id = "FromDate" })
                            <span id="errFromDate" style="display: none" class="alert-danger1">Date is Required.</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Place:<span class="mandatory">*</span></label>

                            @Html.DropDownListFor(model => model.Place, (IEnumerable<SelectListItem>)ViewBag.ddlPlace1, "--Select--", new { @class = "form-control common", id = "Place" })
                            <div id="errPlace" style="display:none" class="alert-danger1">Place is Required.</div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Shift Type:<span class="mandatory">*</span></label>
                            @Html.DropDownListFor(model => model.SHIFT_TYPE, (IEnumerable<SelectListItem>)ViewBag.ddlShiftTypeRemaingSeats, "--Select--", new { @class = "form-control common", id = "SHIFT_TYPE" })
                            <div id="errSHIFT_TYPE" style="display:none" class="alert-danger1">Shift Type is Required.</div>

                        </div>
                    </div>
                    <div id="btn" class="col-lg-12">

                        <button type="submit" class="btn btn-success" name="Command" value="Save" id="btn_submit1">
                            <i class="fa fa-check"></i> Submit
                        </button>
                        <button type="button" class="btn btn-warning" id="btn_reset">
                            <i class="fa fa-circle-o-notch fa-fw"></i> Reset
                        </button>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 pull-right" id="place">
                <a class="btn btn-success" title="Export to Excel" target="_blank" href='CurrentBookingRemainingDetailsExport'><i class="fa fa-download"></i> Export to Excel</a>
            </div>
            <br /><br /><br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div id="tbl" class="table-responsive">

                            <table class="table table-striped table-bordered table-hover table-responsive gridtable">

                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Place Name</th>
                                        <th>Zone </th>
                                        <th>Vehicle Name </th>
                                        <th>Seat For Online </th>
                                        <th>Seat For Current Booking</th>
                                        <th>Total Seat </th>
                                        <th>Online Booked </th>
                                        <th>Current Booked </th>
                                        <th>Total Booked Seat </th>
                                        <th>Transfer Online Seat </th>
                                        <th>Current Remaining </th>
                                        <th>Remaining Seat </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (IEnumerable<FMDSS.Models.MIS.ViewTicketRemaningDT1>)TempData["ListCurrentBookingRemainingDetails"])
                                    {

                                        <tr>
                                            <td>@Html.DisplayFor(model => item.Index)</td>
                                            <td>@Html.DisplayFor(model => item.PlaceName)</td>
                                            <td>@Html.DisplayFor(model => item.ZoneName)</td>
                                            <td>@Html.DisplayFor(model => item.VehicleName)</td>
                                            <td>@Html.DisplayFor(model => item.seatsForCitizen)</td>
                                            <td>@Html.DisplayFor(model => item.CurrentBookingSeat)</td>
                                            <td>@Html.DisplayFor(model => item.TotalSeats)</td>
                                            <td>@Html.DisplayFor(model => item.CitizenbookedSeats)</td>
                                            <td>@Html.DisplayFor(model => item.CurrentbookedSeats)</td>
                                            <td>@Html.DisplayFor(model => item.TotalBookedSeat)</td>
                                            <td>@Html.DisplayFor(model => item.CitizenRemainingSeat)</td>
                                            <td>@Html.DisplayFor(model => item.CurrentRemainingSeat)</td>
                                            <td>@Html.DisplayFor(model => item.RemainingSeat)</td>

                                        </tr>


                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>




        </div>
    }
</div>


<script src="~/Scripts/jquery.blockUI.js"></script>
<script>

    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
</script>

<script type="text/javascript">
    $.noConflict(true);
</script>

<script type="text/javascript" src="~/js/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
@*<script src="~/js/bootstrap.min.js"></script>*@
@*<script src="~/js/Common.js"></script>*@
@*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
