@model FMDSS.Models.MIS.ViewTicketDT1
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>FMDSS || Ticket </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/Common.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/mobile.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/dashboard/dashboard.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="~/css/dashboard/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <section class='print-invoice'>
        <div class='row border-divider'><div class='col-xs-12 col-sm-4' style='padding: 0'><img src='../../images/risl-logo-small.png' alt='RISL'></div><div class='col-xs-12 col-sm-4 centr'>Department of Forest, <br>Government of<br> Rajasthan</span></div><div class='col-xs-12 col-sm-4' style='padding: 0'> <span class='pull-right pdate'><img src='../../images/e-mitra_logo.png' alt='E-Mitra'> </div>  <div class='divider'></div></div>
        <table class='table table-bordered' id='tkt'>
            <tr> <td col-lg-12 colspan='5' style='text-align:center'>BOOKING CONFIRMATION SLIP</td></tr>
            <tr><td col-lg-3><b>Reserve : </b></td><td col-lg-3>@Html.DisplayFor(model => model.PlaceName)</td><td col-lg-3><b>Booking No:</b> </td><td col-lg-3>@Html.DisplayFor(model => model.RequestID)  </td></tr>
            <tr><td col-lg-3><b>Date/Time of Booking : </b></td><td col-lg-3 colspan='3'>@Html.DisplayFor(model => model.EnteredOn) </td> </tr>
            <tr><td col-lg-3><b>Date of Visit : </b></td><td col-lg-3 colspan='3'>@Html.DisplayFor(model => model.DateOfArrival) </td> </tr>
            <tr><td col-lg-3><b>Booked Seats : </b></td><td col-lg-3>@Html.DisplayFor(model => model.NoofTicket) </td><td col-lg-3><b>Total Amount Incl. of Service Charges: Rs. </b> </td><td col-lg-3>@Html.DisplayFor(model => model.finalAmnt)  </td></tr>
        </table>

        <table class='table table-bordered' id='tkt'>
            <tr><td col-lg-3><b>S.No</b></td><td col-lg-3><b>Visitor Name</b></td><td col-lg-3><b>Category</b></td><td col-lg-3><b>Id Proof & Id Details</b></td><td col-lg-3><b>Camera</b></td><td col-lg-3><b>Shift</b></td><td col-lg-3><b>Vehicle</b></td></tr>
            @foreach (FMDSS.Models.MIS.ViewTicketDT2 View2 in Model.ViewTicket2)
            {
                <tr>
                    <td col-lg-3>@View2.index</td>
                    <td col-lg-3>@View2.Name </td>
                    <td col-lg-3>@View2.Nationality</td>
                    <td col-lg-3>@View2.IDProof </td>
                    <td col-lg-3>@View2.NoOfCamera </td>
                    <td col-lg-3>@View2.Shift </td>
                    <td col-lg-3>@View2.VName </td>
                </tr>
            }           
        </table>

        <table class='table table-bordered' id='tkt'>
            <tr><td col-lg-3><b>Boarding Point : </b></td><td col-lg-3 colspan='5'>@Html.DisplayFor(model => model.Boarding_Point) </td> </tr>
            <tr><td col-lg-3><b>Contact Person : </b></td><td col-lg-3>@Html.DisplayFor(model => model.contactperson)</td><td col-lg-3><b>Phone No : </b></td><td col-lg-3>@Html.DisplayFor(model => model.PhoneNo)</td><td col-lg-3><b>Address : </b></td><td col-lg-3>@Html.DisplayFor(model => model.Address)</td> </tr>
        </table>

        <table class='table table-bordered' id='tkt'>

            <tr><td col-lg-3 colspan='2'>Terms and conditions for Visitors :</td> </tr>
            <tr><td col-lg-3>1.</td><td col-lg-3>The visitor must reach to the forest booking center to collect the boarding pass,at least 45 minutes prior to the departure time. </td> </tr>

            <tr><td col-lg-3>2.</td><td col-lg-3>In case, same Id proof will not be produced at the time of seeking entrance in the park then the ticket shall be deemed cancelled or fake.</td> </tr>

            <tr><td col-lg-3>3.</td><td col-lg-3>Aforesaid total charges include tourist entry fee,Reserve development fee,Vehicle entry fee,Reserve development fee and online Booking charges. </td> </tr>

            <tr><td col-lg-3>4.</td><td col-lg-3>Please take two copies of this voucher and bring with your self at the time of boarding. </td> </tr>

            <tr><td col-lg-3>5.</td><td col-lg-3>Every visitor has to pay vehicle rent and Guide fee at the time of collecting boarding pass additionally.(If applicable) </td> </tr>

            <tr><td col-lg-3>6.</td><td col-lg-3>Seats remaining vacant due to non-turn up of any visitors can filled by the park management at the booking window. </td> </tr>

            <tr><td col-lg-3>7.</td><td col-lg-3>Boarding pass of Morning shift shall be collected from the booking office: " + DT1.Rows[0]["PlaceName"].ToString() + " during 5:00 PM to 8:00 PM of previous evening and for evening shift during 10:00 AM to 01:00 PM.</td> </tr>

            <tr><td col-lg-3>8.</td><td col-lg-3>In order to avoid fake bookings, a restriction of booking maximum 6 seats in sinlge transaction has been made.</td> </tr>

            <tr><td col-lg-3>9.</td><td col-lg-3>In case of group booking, park authority will try to give preference in a single vehicle based on availibility at the time of entry.</td> </tr>

            <tr><td col-lg-3>10.</td><td col-lg-3>Entry time of park: </td> </tr>

            <tr>
                <td col-lg-3 colspan='2'>
                    <table class='table table-bordered' id='tkt'>
                        <tr>
                            <td col-lg-3>Period</td>
                            <td col-lg-3>Morning Trip</td>
                            <td col-lg-3> Afternoon Trip </td>
                            @foreach (FMDSS.Models.MIS.ViewTicketDT3 View3 in Model.ViewTicket3)
                            {
                            <tr>
                                <td col-lg-3>@View3.Period</td>
                                <td col-lg-3>@View3.MorningTrip</td>
                                <td col-lg-3>@View3.AfterNoonTrip</td>
                            </tr>
                            }        
                    </table>
                </td>
            </tr>
        </table>
    </section>
</body>
</html>