@model FMDSS.Models.MiddleWareModules

<table class="table tabtext table-striped  table-bordered table-hover" style="width:100%;">
    <thead>
        @{ if (Model.bookingFeeList != null)
            {
                if (Model.bookingFeeList[0].PlaceId == 65)
                {
                    <tr>
                        <th class="inth">Sr No.</th>
                        <th class="inth" colspan="2">Gypsy Amount-Half Day (INR)</th>
                        <th class="inth" colspan="2">Gypsy Amount-Full Day (INR)</th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th class="inth">Sr No.</th>
                        <th class="inth" colspan="2">Gypsy Amount (INR)</th>
                        <th class="inth" colspan="2">Canter Amount (INR)</th>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <th class="inth">Sr No.</th>
                    <th class="inth" colspan="3">Gypsy Amount (INR)</th>
                </tr>
            }
        }
    </thead>
    <tbody>
        @{ if (Model.bookingFeeList != null)
            {
                int i = 1;
                <tr>
                    <td class="inth"></td>
                    <td class="inth">Indian</td>
                    <td class="inth">Foreigner</td>
                    <td class="inth">Indian</td>
                    <td class="inth">Foreigner</td>
                </tr>
                foreach (var item in Model.bookingFeeList)
                {
                    <tr>
                        <td class="inth">@i</td>
                        <td class="inth">@item.IndianGypsyFee</td>
                        <td class="inth">@item.ForeignerGypsyFee</td>
                        <td class="inth">@item.IndianCanterFee</td>
                        <td class="inth">@item.ForeignerCanterFee</td>
                    </tr>
                    i++;
                }
            }
            else if (Model.bookingFeeOther != null)
            {
                int i = 1;
                <tr>
                    <td class="inth"></td>
                    <td class="inth">Indian</td>
                    <td class="inth">Foreigner</td>
                    <td class="inth">Student</td>
                </tr>
                foreach (var item in Model.bookingFeeOther)
                {
                    <tr>
                        <td class="inth">@i</td>
                        <td class="inth">@item.Indian</td>
                        <td class="inth">@item.Non_Indian</td>
                        <td class="inth">@item.Student</td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr>
                    <td class="inth" colspan="4">No Record Found</td>
                </tr>
            }
        }
    </tbody>
</table>