@{
    ViewBag.Title = "Sub Module FMDSS 1.0";

    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/css/bootstrap/jquery-ui.css" rel="stylesheet" /> @*for date picker*@

    <link href="~/css/css2.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/mk_layout.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="icon" href="~/images/favicon.png" type="image/png" sizes="24x24">

    <title>Forest Department,Government of Rajasthan</title>
    <style>
    </style>
    <link href="~/Content/Images/bookingpopupimages/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/Images/bookingpopupimages/owl.theme.default.css" rel="stylesheet" />

</head>
<!---Citizen Services Popup-->
<div class="modal fade in" data-backdrop="static" id="modalBookingProcedure" tabindex="1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm mkspopup">
        <div class="modal-content">
            <div class="modal-header" style="color: #808080 !important">
                <h4 class="titb">Booking Procedure Detail</h4>
            </div>
            <div class="panel panel-default">
                <div class="clearfix"></div>
                <section class="services section-bg">
                    <div class="container aos-init aos-animate">
                        <div class="row mt-2 mb-2">
                            <div class="col-lg-10 col-md-10 ml-5 mr-4 ">
                                <p class="msg_bb">
                                    1.) Firstly you need to login to SSO using "SSO ID" and "Password" or if you don't have to register in SSO then,<br /> you are requested to register yourself on the website through your Gmail. <br />

                                    2.) After login into SSO, You need to click on "Forest & Wildlife" (https://sso.rajasthan.gov.in/signin?ru=fmdss)<br />

                                    3.) click on “Forest & Wildlife” -> Dashboard of Aaranyak (FMDSS) -> Citizen Services -> Wildlife Tourism of Permission.<br />

                                    3.) Forest & Wildlife->Citizen Dashboard->Wildlife Tourism permission Application ->Advance Wildlife Permit booking.<br />

                                    4.)Please select the Place -> Ranthambhore National park - Sawai Madhopur.<br />

                                    Note:<br />

                                    ->You can check the seat availability link-  https://fmdss.forest.rajasthan.gov.in/home/InventoryReport.<br />

                                    -> You can book a gypsy for 6 members at a time and 20 Members in Canter.<br />

                                    Feel free to contact us.
                                </p>
                            </div>

                        </div>
                    </div>
                </section>
                <div class="modal-footer">
                    <div class="col-lg-12">
                        <button name="button" class="btn btn-danger" type="button" value="Cancel" data-dismiss="modal" style="width: auto; float:right;">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Citizen Services Popup END-->
<!---Developement Popup-->
<div class="modal fade in" data-backdrop="static" id="modalFeeDetail" tabindex="1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm mkspopup">
        <div class="modal-content">
            <div class="modal-header" style="color: #808080 !important">
                <h4 class="titb">Fee Details</h4>
                <span id="spnFeePlaceID" style="display:none">0</span>
                <span id="spnBookingType" style="display:none">0</span>
            </div>
            <div class="modal-header" style="color: #808080 !important">
                <h5><span id="spnFeeOnPlaceName"></span></h5>
            </div>
            <div class="panel panel-default">
                <div class="clearfix"></div>
                <section class="services section-bg mb-2">
                    <div class="container aos-init aos-animate">
                        <div class="row mt-2 ml-2 mr-2">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="table-responsive" id="tbl_FeeDetail">
                                    <table class="table tabtext table-striped  table-bordered table-hover" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th class="inth">Sr No.</th>
                                                @*<th class="inth">Heads</th>*@
                                                <th class="inth" colspan="2">Gypsy Amount (INR)</th>
                                                <th class="inth" colspan="2">Canter Amount (INR)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @*<td class="inth" colspan="2"></td>*@
                                                <td class="inth"></td>
                                                <td class="inth">Indian</td>
                                                <td class="inth">Foreigner</td>
                                                <td class="inth">Indian</td>
                                                <td class="inth">Foreigner</td>
                                            </tr>
                                            @*<tr>
                                                    <td class="inth">1</td>
                                                    <td class="inth">Visitor Entry Fees</td>
                                                    <td class="inth">155</td>
                                                    <td class="inth">1180</td>
                                                    <td class="inth">12</td>
                                                    <td class="inth">12</td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="modal-footer">
                    <div class="col-lg-12">

                        <label>For No Of Persons</label>
                        <input type="number" id="txtNoOfPerson" min="1" max="20" value="1" />

                        <button name="button" class="btn btn-danger ml-2" type="button" value="Cancel" data-dismiss="modal" style="width: auto; float:right;">Close</button>
                        <button name="button" class="btn btn-outline-success ml-2" id="btnFeeDetail" type="button" value="Submit" style="width: auto; float:right;">Submit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Developement Popup END-->
<!---Protection Popup-->
<div class="modal fade in" data-backdrop="static" id="modalCheckTicketAvailibity" tabindex="1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-sm mkspopup">
        <div class="modal-content">
            <div class="modal-header" style="color: #808080 !important">
                <h4 class="titb">Check Permit Availability</h4>
            </div>
            <div class="modal-header" style="color: #808080 !important">
                <h5><span id="spnPlaceName"></span></h5>
                <span id="spnPlaceType" style="display:none">0</span>
            </div>
            <div class="panel panel-default">
                <div class="clearfix"></div>
                <section class="services section-bg">
                    <div class="container aos-init aos-animate">
                        <div class="row mt-2 ml-2 mr-2">
                            <div class="col-lg-4 col-md-4 ">
                                @*<input class="form-control" id="txtFromDate" name="FromDate" type="date" min='2022-04-01' max='2099-12-31'> @*min='2022-06-01' max='2022-12-01'*@
                                <div class="col-lg-12 col-md-12 ">
                                    <input type="text" class="form-control" id="txtFromDate" name="AsOnDate" title="Enter the date of visit" placeholder="Select Date" autocomplete="off" />
                                    <span style="color:orangered;" id="spnErrDate"></span>
                                </div>
                                <button name="button1" id="btnCheckAvailibility" class="btn btn-success mt-4" type="button" value="Cancel" style="width: auto; ">Check Avaibility</button>
                                <button name="button2" id="btnReset" class="btn btn-info mt-4" type="button" value="Cancel" style="width: auto; ">Reset</button>
                                <span id="spnPlaceID" style="display:none">0</span>

                            </div>
                            <div class="col-lg-8 col-md-8 ">
                                <div class="table-responsive" id="tbl_PermitAvailibility">
                                    <table class="table tabtext table-striped  table-bordered table-hover" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th class="inth" rowspan="1">Zone</th>
                                                <th class="inth" colspan="2">Morning Shift  Availability </th>
                                                <th class="inth" colspan="2">Morning Shift    Availability</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tr>
                                                    <td class="inth"></td>

                                                    <td class="inth">Gypsy</td>
                                                    <td class="inth">Canter</td>
                                                    <td class="inth">Gypsy</td>
                                                    <td class="inth">Canter</td>
                                                </tr>
                                                <tr>
                                                    <td class="inth">1</td>
                                                    <td class="inth">2</td>
                                                    <td class="inth">1</td>
                                                    <td class="inth">2</td>
                                                    <td class="inth">1</td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="modal-footer">
                    <div class="col-lg-12">
                        <button name="button" class="btn btn-danger ml-2" type="button" value="Cancel" data-dismiss="modal" style="width: auto; float:right;">Close</button>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Protection Popup END-->
<div class="modal fade in" data-backdrop="static" id="modalPubliceNotice" tabindex="1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header" style="color: #808080 !important">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            @*style="height:750px!important;width:850px!important"*@

            <div class="panel panel-default">
                <div class="col-lg-12" style="text-align:center"><h5 class="titb">Publice Notice</h5></div>
                <div class="container">

                    <div class="col-lg-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item"><img src="~/Content/Images/bookingpopupimages/img/banner01.png" title=""></div>
                            <div class="item"><img src="~/Content/Images/bookingpopupimages/img/banner02.png" title=""></div>
                        </div>
                        @*<div class="col-lg-12">
                                <iframe src="~/MiddleWare/BookingSliderView" id="myIframe" class="modal-lg" style="overflow:scroll;height:625px; width:750px; border:2px solid; text-align:center;margin-left:5px;margin-right:5px;"></iframe>
                            </div>*@
                    </div>
                    <div class="modal-footer">
                        <div class="col-lg-12">
                            <button name="button" class="btn btn-danger ml-2" type="button" value="Cancel" data-dismiss="modal" style="width: auto; float:right;">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!---Production Popup -->
<!---Production Popup END-->
<body class="fmmks">

    <section class="welcome-section content-space fmmks">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-xl-12 mt-5">
                    <div class="carousel-caption2 d-md-block text-center mb-25">
                        <div class="container-fluid">
                            <h3> Aaranyak </h3>
                            <!--<h5>Forest Management &amp; Decision </h5>-->
                            @*<h5 class="mb-5">Forest Management &amp; Decision  Support System (FMDSS)</h5>*@
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12 mt-5">
                        <div class="carousel-caption2 d-md-block text-center mb-25">
                            <div class="container-fluid">
                                <h5 class="mb-5 txt">Booking for Online Safari/Permit</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xl-4 "></div>
                        <div class="col-md-4 col-xl-4 mb-5">
                            <select class="form-control" data-val="true" data-val-number="The field " data-val-required="The field is required." id="ddlPlaces" name="PlaceName">
                                <option value="">--Select Place--</option>
                                @{ foreach (System.Data.DataRow dr in ViewBag.PlaceList.Rows)
                                    {
                                        <option value="@dr["PlaceName"]">@dr["PlaceName"]</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="col-md-4 col-xl-4 "></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-xl-1 "></div>
                        <div class="col-md-10 col-xl-10 mb-5">
                            <div class="table-responsive" id="tbl_placeslinks">
                                <table class="table tabtext table-striped  table-bordered table-hover" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Place & Booking Type</th>
                                            <th>Booking Procedure</th>
                                            <th>Fee Details</th>
                                            <th>Check Availability</th>
                                            <th>Book Now</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-1 col-xl-1 "></div>

                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>



    @*<script src="~/Scripts/jquery.blockUI.js"></script>*@
    <script src="~/Scripts/bootstrap/1.12.4/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/bootstrap/1.12.4/jquery-ui.js"></script>
    @*<script src="~/js/jquery-3.js"></script>*@
    <script src="~/js/bootstrap.js"></script>

    <script src="~/Content/Images/bookingpopupimages/js/owl.carousel.min.js"></script>

    <script>

        //$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

        //var dates = ["05/06/2022", "08/06/2022", "09/06/2022", "10/06/2022"];
        var dates = [];

        @foreach (var d in ViewBag.ExcludeDateList)
        {
            @:dates.push("@d");
        }
        var currentDate = '@ViewBag.CurrentDate';

        ////var dates = ["2022/05/06", "2022/08/06", "2022/09/06/", "2022/10/06"];


        function DisableDates(date) {
            var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
            return [dates.indexOf(string) == -1];
        }
        function DisplayPublicePopup() {

            $("#modalPubliceNotice").modal({
                backdrop: 'static',
                keyboard: false,
            });
            $("#modalPubliceNotice").modal('show');
        }
        $(document).ready(function () {

            var placename = '@ViewBag.PlaceName';
            if (placename != null && placename!=undefined) {               
                $('#ddlPlaces').val(placename);
                GetPlaceDetail(placename);
            }
            
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                nav: true,
                autoplay: true,
                autoplayTimeout: 5000,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            });
            DisplayPublicePopup();
            //$(".datefield").datepicker({
            //   // beforeShowDay: noWeekendsOrHolidays,
            //    minDate: '01-06-2022',
            //    maxDate: '30-06-2022',//data.list6,
            //    dateFormat: 'dd/mm/yy',
            //    changeYear: true, onClose:
            //        function (dateText, inst) {
            //            $("[id$=auto]").focus();
            //        },
            //    beforeShowDay: function (date) { return [date.getDay() == 1 || date.getDay() == 2 || date.getDay() == 3 || date.getDay() == 4 || date.getDay() == 5 || date.getDay() == 6, ""] },
            //    dateFormat: 'dd/mm/yy'
            //});
            //alert(new Date().toISOString().slice(0, -1));
            //alert(new Date().toISOString().slice(0, -10));
            //alert(new Date().toISOString().slice(0, -14));
            //$('#txtFromDate').attr('min', new Date());

            //Ok Code Below
            const today = new Date();
            const yyyy = today.getFullYear();
            let mm = today.getMonth() + 1; // Months start at 0!
            let dd = today.getDate();

            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;

            var tillday = new Date();
            tillday.setDate(tillday.getDate() + 365);
            const yyyy2 = tillday.getFullYear();
            let mm2 = tillday.getMonth() +1; // Months start at 0!
            let dd2 = tillday.getDate();

            if (dd2 < 10) dd2 = '0' + dd2;
            if (mm2 < 10) mm2 = '0' + mm2;

            //var mytoday = dd + '/' + mm + '/' + yyyy;
            //var fromDate = yyyy + '/' + mm + '/' + dd;
            //var toDate = yyyy2 + '/' + mm2 + '/' + dd2;
            var fromDate = dd+ '/' + mm + '/' +  yyyy;
            var toDate = dd2 + '/' + mm2 + '/' + yyyy2;
           // alert(yyyy + ' ' + yyyy2);
            $("#txtFromDate").datepicker("destroy");
            $("#txtFromDate").datepicker({
                beforeShowDay: DisableDates,
                minDate: fromDate,
                maxDate: toDate,
                dateFormat: 'dd/mm/yy',
                changeYear: true
            });
            //alert(fromDate);
            //alert(toDate);
            //$("#txtFromDate").prop("min", fromDate);
            //$("#txtFromDate").prop("max", toDate);
            //OK Code Above



            //$("#txtFromDate").prop("min", '2022-06-01');
            //$("#txtFromDate").prop("max", '2022-06-30');


            //$('#txtFromDate').datepicker({
            //    minDate: '06/01/2022',
            //    maxDate: '06/30/2022',
            //    beforeShowDay: function (date) {
            //        var str = jQuery.datepicker.formatDate('yy-mm-dd', date);
            //        var minDateArr = $(this).datepicker("option", "minDate").split('/')

            //        var minDate = new Date(minDateArr[2], minDateArr[0] - 1, minDateArr[1]); //Don't remove the -1 from minDateArr[0]-1 as the Javascript dates starts with 0.
            //        if ($.inArray(str, disabledDates) != -1) {
            //            return [false, 'special']
            //        }
            //        else if (date < minDate) {
            //            return [false, 'not-special']
            //        }
            //        else {
            //            return [true, "special"];
            //        }
            //    }
            //});
        });



        // Sets the value to '' in case of an invalid date
        //$(document).on('change', '[id="txtFromDate"]', function (evt) {
        //    //alert(evt.target.value);
        //    //alert((new Date(evt.target.value)).getMonth());
        //    var placeid = $("#spnPlaceID").text() | 0;
        //    var placetype = $("#spnPlaceType").text | 0;
        //    //alert('place id ' + placeid + ' Place Type ' + placetype);
        //    var month = (new Date(evt.target.value)).getMonth() + 1;
        //    if ((month == 7 || month == 8 || month == 9) || (placeid == 68 && placetype != 3)) { //&& placetype!=3 it can be new type
        //        evt.target.value = '';
        //        //alert('July,August,September months booking closed');
        //    }
        //});

        $(document).on('change', '[id="ddlPlaces"]', function () {
            var pagetitle = $(this).val();
            alert(pagetitle);
            if (pagetitle == null || pagetitle == 'undefined') {
                alert('Select Place');
                return false;
            }
            GetPlaceDetail(pagetitle);
            //alert(placeid);
        });
        function GetPlaceDetail(pagetitle) {
            var moduleId = 1
            $.ajax({
                type: 'GET',
                url: "../MiddleWare/GetPlacesLinks",
                dataType: 'html',
                data: { ModuleId: moduleId, PageTitle: pagetitle },
                success: function (MWSMG_List) {
                    $('#tbl_placeslinks').html(MWSMG_List);
                },
                error: function (ex) {
                    alert(ex.error);
                }
            });
        }

    </script>
</body>
</html>
