@{
    ViewBag.Title = "Booking Summary Report";
    Layout = Convert.ToString(HttpContext.Current.Session["CurrentLayout"].ToString());
}
@model FMDSS.Entity.NPVM.OBookingReportVM

<script>var RootUrl = '@Url.Content("~/")';</script>
<style>
    .hide {
        display: none;
    }

    #myModal .modal-header {
        background-color: #5cb85c;
    }

        #myModal .modal-header h4, .close {
            color: #ffffff;
            text-align: center;
            font-size: 30px;
        }

    #myModal .modal-footer {
        background-color: #f9f9f9;
    }

    #myModal .btn-success {
        width: 100%;
        padding: 10px;
    }

    ul.a {
        list-style-type: circle;
    }

    #myModalRefund .modal-header {
        background-color: #5cb85c;
    }

        #myModalRefund .modal-header h4, .close {
            color: #ffffff;
            text-align: center;
            font-size: 30px;
        }

    #myModalRefund .modal-footer {
        background-color: #f9f9f9;
    }

    #myModalRefund .btn-success {
        width: 100%;
        padding: 10px;
    }

    ul.a {
        list-style-type: circle;
    }

    .capt {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
        border: 1px solid #e7e7e7;
        width: 202px;
        float: left;
    }

        .capt p {
            margin: 10px;
        }

    #refresh {
        width: 28px;
        height: 26px;
        padding: 0px;
    }

    #txtInput {
        width: 150px;
    }

    #page-wrapper-inn .table > thead > tr > th {
        width: auto;
    }
</style>
<script>
    function Success(data) {
        if (data.status != undefined && data.status == false) {
            if (data.error == "")
                data.error = "We are facing some technical issue, please contact FMDSS if you are facing this issue on regular basis.";
            if (data.error.indexOf("captcha") > -1) {
                $("#txtInput").addClass("error");
                $("#captchaError").html(data.error);
            }
            else {
                $("#captchaError").html('');
                $("#txtInput").removeClass("error");
                alert(data.error);
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
        }
        else {
            $("#page-wrapper-inn").html(data);
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }

    }
</script>

<div id="page-wrapper-inn">
    <div id="frmInvalid" class="row" style="display:none">
        <div class="col-lg-12 pad">
            <h1 class="page-header">INVALID TICKET BOOKING PAGE</h1>
            <div class="panel-heading">
                <span style="color:red;">
                    <i class="bg-light-blue">Sorry, this is a invalid booking URL.</i>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 pad">
            <h1 class="page-header"><span>Report : Other Wildlife Sanctuary</span></h1>
        </div>
        @using (Ajax.BeginForm("BookingSummaryReport", "MISNationalPark", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divReportDetails" }))
        {
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-lg-3">
                            <div class="form-group un-bold">
                                <label>Date Type:<span class="mandatory">*</span></label>
                                @Html.DropDownListFor(model => model.DateType, FMDSS.Models.OBCommonList.DateType, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group un-bold">
                                <label>From Date:<span class="mandatory">*</span></label>
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control common ", id = "txtFromDate", @readonly = true })
                                <span id="errFromDate" style="display: none" class="alert-danger1">From Date is Required.</span>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group un-bold">
                                <label>To Date:<span class="mandatory">*</span></label>
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control common ", id = "txtToDate", @readonly = true })
                                <span id="errToDate" style="display: none" class="alert-danger1"></span>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <div class="form-group un-bold">
                                <label>Place:<span class="mandatory">*</span></label>
                                @Html.DropDownListFor(model => model.PlaceId, new SelectList(ViewBag.PlaceList, "PlaceId", "PlaceName"), "--Select--", new { @class = "form-control", id = "Place" })
                                <div id="errPlace" style="display:none" class="alert-danger1">@Html.ValidationMessageFor(m => m.PlaceId)</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group un-bold">
                                <label>Booking Status:</label>
                                @Html.DropDownListFor(model => model.BookingStatus, FMDSS.Models.OBCommonList.BookingStatus, new { @class = "form-control", id = "Place" })
                                <div id="errPlace" style="display:none" class="alert-danger1">@Html.ValidationMessageFor(m => m.PlaceId)</div>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group un-bold">
                                <label>Booking Type:</label>
                                @Html.DropDownListFor(model => model.BookingType, FMDSS.Models.OBCommonList.BookingType, "All", new { @class = "form-control" })
                            </div>
                        </div>
                        <div id="btn" class="col-lg-12">
                            <button type="submit" class="btn btn-success" name="Command" value="Save" id="btn_submit1">
                                <i class="fa fa-check"></i> Submit
                            </button>
                            <button type="button" class="btn btn-warning" id="btn_reset">
                                <i class="fa fa-circle-o-notch fa-fw"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" id="divReportDetails"></div>
            </div>
        }
    </div>

</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>

    $(document).ready(function () {
        $('#txtFromDate,#txtToDate').datepicker({ dateFormat: 'dd/mm/yy' });
        $('#txtFromDate,#txtToDate').datepicker('setDate', new Date());
    })


</script>

