@model FMDSS.Models.BookingRoaster.CitizenVisitDetail

<div class="table-responsive">
    <table class="table tabtext table-striped  table-bordered table-hover" , id="tbl_CitizenVisitDetails" style="width:100%;">
        <thead>
            <tr>
                <th>S No.</th>
                <th>Ticket No.</th>
                <th style="display:none">UserId</th>
                <th>User Name</th>
                <th style="display:none">PlaceId</th>
                <th>Place Name</th>
                <th style="display:none">ZoneId</th>
                <th>Zone Name</th>
                <th style="display:none">ShiftId</th>
                <th>Shift Name</th>
                <th>Member Count</th>
                <th>Date Of Visit</th>
                <th>Select Guide</th>
                <th>Select Vehicle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itm in Model.citizenVisitDetails)
            {
            <tr>
                <td>@itm.SNo</td>
                <td>@itm.TicketId</td>
                <td>@itm.UserId</td>
                <td>@itm.UserName</td>
                <td>@itm.PlaceID</td>
                <td>@itm.PlaceName</td>
                <td>@itm.ZoneId</td>
                <td>@itm.ZoneName</td>
                <td>@itm.ShiftId</td>
                <td>@itm.ShiftName</td>
                <td>@itm.MemberCount</td>
                <td>@itm.DateOfVisit</td>
                <td>@itm.GuideName</td>
                <td>@itm.VehicleNumber</td>
            </tr>
            }
        </tbody>
    </table>
</div>