@model FMDSS.Models.CitizenRefunds.BankDetails
@{
                /**/

                ViewBag.Title = "Apply Partial Refund Request";
                Layout = "~/Views/Shared/_LayoutBookingRoaster.cshtml";
}
@section PageCss{
    <link href="~/css/bootstrap/jquery-ui.css" rel="stylesheet" />
    <link href="~/Select2DropdownJSCSS/css/select2.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-9 pad">
        <h1 class="page-header"><span>WildLife Permit Booking : Apply Partial Refund Request </span></h1>
    </div>
      
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-6" style="display:none">
                        <div class="form-group">
                            <label>Ticket No:</label>
                            @Html.TextBoxFor(model => model.TicketId, new { @class = "form-control common datefield", @name = "TicketId", @id = "TicketId", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.bankDetail.TicketId)*@
                            <div id="errTicketId" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Ticket Required.</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Request Id:</label>
                            @Html.TextBoxFor(model => model.RequestId, new { @class = "form-control common datefield", @name = "RequestId", @id = "RequestId", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.bankDetail.TicketId)*@
                            <div id="errTicketId" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Ticket Required.</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Refundable Amount(INR):</label>
                            @Html.TextBoxFor(model => model.RefundableAmount, new { @class = "form-control common datefield", @name = "RefundableAmount", @id = "RefundableAmount", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.RefundableAmount)*@
                            <div id="errRefundableAmount" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Refund Amount Required.</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Bank Name:</label>
                            @Html.TextBoxFor(model => model.BankName, new { @class = "form-control common datefield", @name = "BankName", @id = "BankName", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.BankName)*@
                            <div id="errBankName" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Bank Name is Required.</div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">

                            <label>Branch Name <span style="color:orangered">*</span>:</label>
                            @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control common datefield", @name = "BranchName", @id = "BranchName", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.BranchName)*@

                            <div id="errBranchName" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Branch Name is Required.</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label>IFSC Code<span style="color:orangered">*</span>:</label>
                            @Html.TextBoxFor(model => model.IFSCCode, new { @class = "form-control common datefield", @name = "IFSCCode", @id = "IFSCCode", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.IFSCCode)*@
                            <div id="errIFSCCode" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">IFSC Code is Required.</div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">

                            <label>Account Holder Full Name<span style="color:orangered">*</span>:</label>
                            @Html.TextBoxFor(model => model.AccountHolderName, new { @class = "form-control common datefield", @name = "AccountHolderName", @id = "AccountHolderName", @readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.AccountHolderName)*@
                            <div id="errAccountHolderName" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Account Holder Full Name is Required.</div>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">

                            <label>Account Type<span style="color:orangered">*</span>:</label>

                            @Html.DropDownListFor(model => model.AccountType,
                                                                           new SelectList(new List<SelectListItem> {
                                                                                                                                     new SelectListItem { Text = "Current", Value = "Current"},
                                                                                                                                     new SelectListItem { Text = "Saving", Value = "Saving"}
                                                                                }, "Value", "Text"),
                                                                            "Select Account Type",
                                                                             new { @class = "form-control myselect", @name = "AccountType", @id = "AccountType", @readonly = "readonly", @disabled = "disabled" })
                            @*@Html.ValidationMessageFor(model => model.AccountType)*@
                            <div id="errAccountType" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Account Type is Required.</div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">

                            <label>Account No<span style="color:orangered">*</span>:</label>
                            @Html.TextBoxFor(model => model.AccountNo, new { @class = "form-control common datefield", @name = "AccountNo", @id = "AccountNo" ,@readonly = "readonly" })
                            @*@Html.ValidationMessageFor(model => model.AccountNo)*@
                            <div id="errAccountNo" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Account No is Required.</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group" style="text-align:left!important">
                            @Html.CheckBoxFor(model => model.ConfirmRefundByCitizen, new { @id = "ConfirmRefundByCitizen", @name = "ConfirmRefundByCitizen" ,@readonly = "readonly" }) I hereby confirm my request of cancellation of the permit and want my refundable amount in the above mentioned bank account.
                            @*@Html.ValidationMessageFor(model => model.ConfirmRefundByCitizen)*@
                            <div id="errConfirmRefundByCitizen" style="display:none; text-align: left !important;padding-left:30px!important;" class="alert-danger1 col-md-12">Confirmation acceptance for Refund is Required.</div>
                        </div>
                    </div>

                    <div id="btn" class="col-lg-12">                     
                        <a id="btn_Previous" style="float:none" class="btn btn-warning" href='@Url.Action("PartialRefundRequestList", "RefundPayment")'>
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
@section PageScript {
    <script src="~/Select2DropdownJSCSS/js/select2.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script type="text/javascript">
            $(".myselect").select2();
            $('#ConfirmRefundByCitizen').prop('selected', false);
            $(document).ready(function () {
              
            });
           
    </script>
}
